/* Extra small viewport or screen */
@media only screen and (min-width : 480px) {
// write CSS properties here
}
/* Small viewport or screen */
@media only screen and (min-width : 768px) {
// write CSS properties here
}
/* Medium viewport or screen */
@media only screen and (min-width : 992px) {
// write CSS properties here
}
/* Large viewport or screen */
@media only screen and (min-width : 1200px) {
 // write CSS properties here
}
@media only screen and (max-width : 767px) {
	.navbar-dark .navbar-toggler {
		border:none;
		color: rgb(255, 255, 255);
		outline: none;
	}
	.navbar-dark {
		background: #00173c;
	}
	.section-title {
		font-size: 27px;
	}
	.navbar-brand img {
	    max-width: 190px;
	}
	.slider-title h1 {
		font-size: 21px;
		margin-top: 50px;
	}
	.live-numbers {
		padding: 30px 0;
	}
	.live-numbers .col-md-4 {
		margin:15px 0;
	}
	.p-methods ul li {
		margin: 5px 0;
	}
	.videos .digital-box {
		margin-bottom: 50px;
	}
	.facility {
		padding: 20px 20px;
	}
	.exchange {
		background-size: 100%;
		min-height: auto;
	}
	.timeline-article .content-left-container, .timeline-article .content-right-container {
		margin-left: 38px;
	}
	#conference-timeline .conference-center-line {
	    left: 24px;
	}
	.rounded-list {
		margin-top: 20px;
	}
}
@media only screen and (max-width : 420px) { 
	.round-bulb {
		margin-left: -20px;
	}
}