<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Eventica | Chat-Forum</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
	
	<!-- Stylesheets -->
	
	<link href="css/news/bootstrap.css" rel="stylesheet">
	
	<link href="fonts/news/fonts/ionicons.css" rel="stylesheet">
	
		
	<link href="css/news/styles.css" rel="stylesheet">

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  
	<!-- CSS
	  ================================================== -->
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<link rel="stylesheet" href="assets/assets/css/style.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.css" />
	<!-- Template styles-->
	<link rel="stylesheet" href="css/style.css" />
	<!-- Responsive styles-->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="css/font-awesome.css" />
	<!-- Animation -->
	<!-- <link rel="stylesheet" href="css/animate.css"> -->
	<!-- Colorbox -->
	<link rel="stylesheet" href="css/colorbox.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	
	
</head>
<body>
	<div class="body-inner">
		<!-- Header start -->
		<header id="header" class="header header-transparent">
		  <div class="container">
			<div class="row">
			  <!-- <div class="navbar-header">
				<div class="logo"> -->
			  <a href="/"> <img src="images/logo.png" alt="" /> </a>
			  <!-- </div> -->
			  <!-- logo end -->
			  <!-- </div> -->
			  <!-- Navbar header end -->
			  <!-- <div class="site-nav-inner"> -->
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
				<ul class="nav navbar-nav" style="padding-left: 800px; ">
				  <li class="active" ><a href="/">Home </a></li>
				 
				</ul>
				<!--/ Nav ul end -->
			  </nav>
			  <!--/ Collapse end -->
			  <!-- </div> -->
			  <!--/ Site nav inner end -->
			  <!-- </div> -->
			  <!--/ Row end -->
			</div>
			<!--/ Container end -->
		</header>
	</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
	</br>
</br>
</br>
</br>
</br>
	
</br>
</br>
<footer id="footer" class="footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright-info">
            <span>Copyright © 2018 Eventica. All Rights Reserved.</span>
          </div>
          <!-- Copyright info end -->
        </div>
        <!-- Content col end -->
        <div class="col-md-6">
          <!-- Footer menu end -->
          <div class="footer-social text-center">
            <ul>
              <li>
                <a href="https://www.facebook.com/beingevent" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/beingevent" target="_blank"><i class="fa fa-twitter"
                    target="_blank"></i></a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCjyAFms3tfplMLBr79khb-g" target="_blank"><i
                    class="fa fa-youtube" target="_blank"></i></a>
              </li>
             
              <li>
                <a href="https://www.instagram.com/being_event/" target="_blank"><i
                    class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="https://t.me/beingevent" target="_blank"><i class="fa fa-paper-plane"></i></a>
              </li>
            </ul>
          </div>
          <!-- Footer social end -->
        </div>
      </div>
      <!-- Content row end -->
    </div>
    <!-- Container end -->
    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" style="display: block;">
      <button class="btn btn-primary" title="Back to Top">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>

  </footer>
</body>
</html>
