<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <meta
        name="google-site-verification"
        content="eS0HL-_Qh9vBPvedOzUZS0CQKcnQbboj_JDqJGXDsM0"
      />

      <!-- Basic Page Needs
================================================== -->
      <meta charset="utf-8" />

      <!-- Mobile Specific Metas
================================================== -->

      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0"
      />

      <!-- Site Title -->
      <title>Home | Document</title>

      <!--Favicon-->
      <link
        rel="shortcut icon"
        href="http://www.eventica.io/images/favicon.ico"
        type="image/x-icon"
      />
      <link
        rel="icon"
        href="http://www.eventica.io/images/favicon.ico"
        type="image/x-icon"
      />
      <!-- CSS
    ================================================== -->

      <!-- Bootstrap -->
      <link rel="stylesheet" href="css/bootstrap.css" />
      <!-- Template styles-->
      <link rel="stylesheet" href="css/style.css" />
      <!-- Responsive styles-->
      <!-- <link rel="stylesheet" href="css/responsive.css"> -->
      <!-- FontAwesome -->
      <link rel="stylesheet" href="css/font-awesome.css" />
      <!-- Animation -->
      <!-- <link rel="stylesheet" href="css/animate.css"> -->
      <!-- Colorbox -->
      <link rel="stylesheet" href="css/colorbox.css" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      />
      <style>
        h2,
        p {
          padding-left: 10px;
          text-align: justify;
        }

        .box {
          overflow: hidden;
          display: block;
          /* padding:  0; */
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: 0.3s;
          width: 100%;
          border-radius: 10px;
          float: left;
          border-right: 5px;
          background: #e0dbdb;
        }
        .row .column .card {
          float: left;
        }
        img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
        .description {
          padding: 0px 1px 50px 2px;
        }
      </style>
    </head>

    <body>
      <div class="body-inner">
        <header id="header" class="header header-transparent">
          <div class="container">
            <div class="row">
              <div class="navbar-header">
                <div class="logo">
                  <a href="http://www.eventica.io/">
                    <img src="images/logo.png" alt="" />
                  </a>
                </div>
              </div>
              <div class="site-nav-inner">
                <button
                  type="button"
                  class="navbar-toggle"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                >
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span> <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <nav
                  class="collapse navbar-collapse navbar-responsive-collapse pull-right"
                >
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home </a></li>
                    <!-- <li><a href="#ts-intro">About Us</a></li> -->
                    <li><a href="/events">Events</a></li>
                    <!-- <li><a href="#ts-speakers">Why Eventica?</a></li>
                        <li><a href="#ts-schedule">What we do?</a></li> -->
                    <!-- <li><a href="#ts-pricing">Our Team</a> </li> -->
                    <li><a href="/merchant">Merchandise</a></li>
                    <!-- <li><a href="#ts-sponsors">Coin Sale</a> </li> -->
                    <!-- <li><a href="#ts-pricing-1">Road Map</a></li>
                        <li><a href="#ts-sponsors-1">Contact Us </a></li> -->
                    <!-- <li class="header-ticket">
                          <a
                            class="ticket-btn btn-primary"
                            href="http://www.eventica.io/invest.php"
                            ><i class="fa fa-dollar"></i> Invest</a
                          >
                        </li>
                        <li class="header-ticket">
                          <a
                            class="ticket-btn btn-primary"
                            href="http://www.eventica.io/logout.php"
                            ><i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout</a
                          >
                        </li> -->
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header>
      </div>
         <!-- <div class="box"> -->
           <br>
           <br>
           <br>
           <br>
        <h4> &nbsp;Start-up Events</h4>
        <section style="margin-top: 0px; padding-top: 0px;">
          <div class="col-md-6">           
            <img src="images/index11.png" alt="Avatar" style="width:100%" />
            <div class="container">
           <!-- <hr> -->
              <!-- <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p> -->
            </div>            
          </div>
          <div class="col-md-6">
            <h2>Description</h2>
            <p>
              &nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              architecto tempore error eligendi expedita vero totam nobis
              possimus veniam sint, debitis recusandae eum exercitationem in
              molestiae asperiores alias fugit voluptatibus harum odio voluptate
              temporibus facere cum blanditiis? Recusandae blanditiis cum
              possimus minus quibusdam asperiores aperiam adipisci pariatur
              illum. Ab facilis accusantium eos deserunt similique cupiditate
              reprehenderit odit sit quia soluta? Dicta aut possimus, sunt
              dolorum velit iusto soluta esse, sint inventore quisquam
              laboriosam, libero vitae voluptas ipsum. Obcaecati nihil ipsa hic
              totam accusantium sed iure tempora fugit vel eius quos nostrum,
              sunt temporibus ratione, quasi quam voluptatum repellat deserunt
              modi!
            </p>           
          </div>
        </section>        
        <section style="align-content: center;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="button buttonblue">
            <i class="fa fa-inr" aria-hidden="true"></i> BUY TICKET
          </button>
          <button class="button buttonblue">
            <i class="fa fa-share-alt" aria-hidden="true"></i> SHARE  
          </button>
        </section>
        <br>
        <br>
        <br>
        <br>
       <h4><b>&nbsp;&nbsp;Event Speakers</b></h4>
        <section style="padding-top: 0px; padding-bottom:0px;">
          <div class="row-md-12">
          <div class="col-md-4">
              <div class="card">
            <h4>&nbsp;SARAVANAKUMAR MALAICHAMI</h4>
            <h5>&nbsp;Director</h5>
            <h5>&nbsp;SmartChainers Company</h5>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card">
              <h4>&nbsp;D.V THIYANESHWARAN</h4>
              <h5>&nbsp;Director</h5>
              <h5>&nbsp;Ferra Company</h5>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card">
              <h4>&nbsp;VISHWA NANDHU</h4>
              <h5>&nbsp;Director</h5>
              <h5>&nbsp;Beta Company</h5>
              </div>
             </div>
            </div>
        </section>
       <!-- </div> -->
      </div>
    </body>
  </html>

