<!-- Basic modal -->
<div id="notice_modal" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<div class="modal-body">
				<p class="text-center" ><img src="/assets/images/lynked.world-logo.png" style="width: 70px;"></p><br/>
				<p class="text-center popup_notice_text">Thank you very much for your interest. Please complete the KYC requirements at My Profile -> KYC for purchasing LYNK Token</p>
			</div>
			<p></p>
			<div class="modal-footer center-block text-center">
					<a href="/profile" class="btn bg-info complete-kyc-btn">Complete KYC</a>
					<button type="button" class="btn bg-info" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- /basic modal -->

	<!-- Footer -->
	<div class="footer text-muted">
		Copyright © 2018 Lynked.World (KoinWorx BV, Netherlands). All Rights Reserved.
	<!-- /footer -->