<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="images/favicon.png"> -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <title>Eventica | Forgot</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/ico.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=122">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=122">
    <!-- <link rel="stylesheet" href="/assets/css/theme-java.css?ver=122"> -->
    <link href="/css/responsive.css" rel="stylesheet">
    <style>
        .auth-page {
            background: black;


        }
    </style>
</head>

<body class="auth-page">

    <main role="main">
        <section class="signin-signup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">


                        <div class="signin-form auth-form">
                            

                            <form action="/forgot" method="post">
                                <div class="panel panel-body login-form">
                                    <div class="text-center">
                                        <div class="icon-object border-warning text-warning"><i
                                                class="icon-spinner11"></i></div>
                                        <h5 class="content-group">Password recovery</h5>
                                        <p>&nbsp;</p>
                                    </div>

                                    <!-----insert here---->






                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control mail-field"
                                            required="required" placeholder="Email">
                                    </div>
                                    <!-- <input type="email" name="email" class="form-control" placeholder="Your email"> -->
                                    <!-- <div class="form-control-feedback">
                                <i class="icon-mail5 text-muted"></i>
                            </div> -->
                                    <!-- </div> -->

                                    <button class="btn btn-primary buy-tokens">Reset password</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>