<html>
<body>
	<div class="body-inner">
	  <header id="header" class="header header-transparent">
		<div class="container">
		  <div class="row">
			<!-- <div class="navbar-header">
			  <div class="logo"> -->
			<a href="/">
			  <img src="/images/logo.png" alt="" />
			</a>
			<!-- </div>
			</div>
			<div class="site-nav-inner"> -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span> <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
			<nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
			  <ul class="nav navbar-nav">
				<li><a href="/">Home </a></li>
				<li><a href="/#ts-intro">About Us</a></li>
  
				<li><a href="/#ts-speakers">Why Eventica?</a></li>
				<li><a href="/#ts-schedule">What we do?</a></li>
				<li class="active"><a href="/events">Events</a></li>
				<li><a href="/merchant">Merchandise</a></li>
				<li><a href="/exchange">Exchange</a></li>
  
  
				<li><a href="/#ts-sponsors-1">Contact Us </a></li>
  
  
  
				<!-- <li><a href="/merchant">Merchandise</a></li> -->
  
  
  
				<!-- <li><a href="/merchant">Merchandise</a></li> -->
  
			  </ul>
			</nav>
			<!-- </div>
		  </div> -->
		  </div>
	  </header>
	  </div>
  </body>
  </html>