<!DOCTYPE html>
<html lang="en">

<head>

  <title>Eventica | Crypto-News</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta property="og:image" content="http://www.beingevent.com/public/images/index7.jpg" />
  <meta property="og:title" content="Eventica" />
  

  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
  <!-- <link href="/css/news/bootstrap.css" rel="stylesheet"> -->

  <link href="/fonts/news/fonts/ionicons.css" rel="stylesheet">


  <!-- <link href="css/news/styles.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/assets/assets/css/style.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Responsive styles-->
  <link rel="stylesheet" href="/css/responsive.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/css/font-awesome.css" />
  <!-- Animation -->
  <!-- <link rel="stylesheet" href="css/animate.css"> -->
  <!-- Colorbox -->
  <link rel="stylesheet" href="/css/colorbox.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />



  <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Libraries CSS Files -->
  <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <!-- <link href="css/speaker/css/style.css" rel="stylesheet"> -->

  <style>
    .newslink {

      color: black;
    }

    .buttonblue {
      /* color: #fff; */
      background: #ff0673;
      width: 150px;
      height: 50px;
      border-radius: 10px;
      border-color: #ff0673;

    }

    .buttonblue a {
      color: #fff;
    }

    p {
      padding-left: 10px;
      text-align: justify;
    }

    .box {
      overflow: hidden;
      display: block;

    }

    #myform {
      text-align: center;
      padding: 5px;
      margin: 2%;
    }

    .qty {
      width: 30px;
      height: 30px;
      text-align: center;
    }

    .qtyplus {
      width: 25px;
      height: 25px;
    }

    .qtyminus {
      width: 25px;
      height: 25px;
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 10px;
      float: left;
      border-right: 5px;
      background: #e0dbdb;
    }

    .row .column .card {
      float: left;
    }

    .tickets {
      padding-top: 10px;
      color: blueviolet;
      font-weight: bold;
      padding-left: 10px;
    }

    .ticket-button {

      padding-left: 150px;

    }

    .vl {
      border-left: 2px solid green;
      height: 150px;
      position: absolute;
      left: -5%;

      top: 0;
    }

    .screen-reader-text {
      clip: rect(5px, 5px, 5px, 5px);
      position: absolute !important;
      height: 1px;
      width: 10px;
      overflow: hidden;
      padding-left: 20px;
    }

    .quantity .qty {
      height: 33px;
      border-radius: 0;
      font-size: 16px;
    }

    .quantity .qty {
      width: 3.631em;
      text-align: center;
    }

    input {
      line-height: normal;
      max-width: 100%;
    }

    #share-buttons img {
      width: 45px;
      padding: 10px;
      border: 0;
      box-shadow: 0;
      /* display: inline; */
      padding-left: 5px;
    }
    .img-fluid{
      /* max-width: 600px; */
    max-height: 300px;
    }
  </style>

</head>

<body>
  <!-- <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '2292436820809684',
            xfbml      : true,
            version    : 'v4.0'
          });
          FB.AppEvents.logPageView();
        };
      
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script> -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=2292436820809684&autoLogAppEvents=1"></script>
  <div class="body-inner">
    <!-- Header start -->
    <header id="header" class="header header-transparent">
      <div class="container">
        <div class="row">
          <!-- <div class="navbar-header">
						<div class="logo"> -->
          <a href="/"> <img src="/images/logo.png" alt="" /> </a>
          <!-- </div> -->
          <!-- logo end -->
          <!-- </div> -->
          <!-- Navbar header end -->
          <!-- <div class="site-nav-inner"> -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right" style="padding-left:120px">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home </a></li>
              <li><a href="#ts-intro">About Us</a></li>

              <li><a href="#ts-speakers">Why Eventica?</a></li>
              <li><a href="#ts-schedule">What we do?</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/merchant">Merchandise</a></li>
              <li><a href="/exchange">Exchange</a></li>


              <li><a href="#ts-sponsors-1">Contact Us </a></li>









            </ul>
            <!--/ Nav ul end -->
          </nav>
        </div>
        <!--/ Container end -->
    </header>
    </br>
    </br>
    </br>
    </br>
    </br>
    <h3 style="text-align: center;"><%=details.eventType%></h3>
    <div class="container-fluid">



      <div class="row">

        <div class="col-sm-5">
          <img src="<%=imageurl+details.proimg%>" alt="" style="max-height: 400px; max-width: 100%;">
        </div>
        <div class="col-sm-7">
          <h2>Description</h2>
          <p style="padding-top: 10px !important;">
            &nbsp;&nbsp;&nbsp;<%=details.eventdescription%>


           



        </div>





      </div>
    </div>

    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2 style="padding-left: 440px;">Event Speakers</h2>
          <p style="padding-left: 460px;">Here are some of our speakers</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">

            <div class="speaker">

              <img src="<%=imageurl+details.filename%>" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html"><%=details.speakerName%></a></h3>
                <p>Samrt Chainers</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>

            </div>

          </div>

          <!-- <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="images/speakers/2.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Hubert Hirthe</a></h3>
                <p>Consequuntur odio aut</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="images/speakers/3.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                <p>Fugiat laborum et</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="images/speakers/4.jpg" alt="Speaker 4" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                <p>Debitis iure vero</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="images/speakers/5.jpg" alt="Speaker 5" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                <p>Qui molestiae natus</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="images/speakers/6.jpg" alt="Speaker 6" class="img-fluid">
              <div class="details">
                <h3><a href="speaker-details.html">Willow Trantow</a></h3>
                <p>Non autem dicta</p>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>

    </section>

    <footer id="footer" class="footer ">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <div class="copyright-info"> <span>Copyright © 2018 Eventica. All Rights Reserved.</span> </div>
            <!-- Copyright info end -->
          </div>
          <!-- Content col end -->
          <div class="col-md-6">

            <!-- Footer menu end -->
            <div class="footer-social text-center">
              <ul>
                <li><a href="https://www.facebook.com/1285978671536389" target="_blank"><i
                      class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/eventicaupdates" target="_blank"><i class="fa fa-twitter"
                      target="_blank"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCps8d1E0Q4v8-P4WNjHHCqA" target="_blank"><i
                      class="fa fa-youtube" target="_blank"></i></a></li>
                <li><a href="https://plus.google.com/u/1/117711261836707390891" target="_blank"><i
                      class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.instagram.com/eventicaofficial/" target="_blank"><i
                      class="fa fa-instagram"></i></a></li>
                <li><a href="https://t.me/eventicaofficial" target="_blank"><i class="fa fa-paper-plane"></i></a></li>
              </ul>
            </div>
            <!-- Footer social end -->

          </div>
        </div>
        <!-- Content row end -->
      </div>
      <!-- Container end -->
      <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" style="display: block;">
        <button class="btn btn-primary" title="Back to Top"> <i class="fa fa-angle-up"></i> </button>
      </div>
    </footer>

</body>

</html>