<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/dashboard.js"></script>
    <!-- /theme JS files -->

    <script src="https://checkout.stripe.com/checkout.js"></script>

    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/wizards/stepy.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/core/libraries/jasny_bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/validation/validate.min.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/wizard_stepy.js"></script>
    <!-- /theme JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="assets/js/plugins/forms/styling/switch.min.js"></script>

    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <script type="text/javascript" src="assets/js/pages/form_checkboxes_radios.js"></script>
    <script type="text/javascript" src="assets/js/pages/form_validation.js"></script>
    <!-- /theme JS files -->

    <% include head %>

        <!-- Page header -->
        <!-- <div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Token Sale</span> </h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="/">Home</a></li>
				<li><a href="/invest2">Token Sale</a></li>
				<li class="active">Invest Now</li>
				</ul>
			</div>

		</div>
	</div> -->
        <!-- /page header -->

        <!-- Page container -->
        <div class="page-container mobile-container">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">
                    <form action="/invest" name="myform" id="myform" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="text-center">Welcome to Lynked.World Token Sale Program</h1>

                            <div id="message1" class="panel panel-primary" style="margin-top: 20px;">
                                <!-- <div class="panel-heading text-center"><h4>Issue Your Assets</h4></div>  -->

                                <div class="panel-body">
                                    <div class="panel-group col-md-10 col-md-offset-1" id="accordion">
                                        <div class="panel panel-default">

                                            <% if(message) { %>
                                            <div style="text-align: center" class="panel-body">
                                                <div class="row asset-collapse">
                                                    <div class="col-md-12">
                                                        <a onclick="popupCenter('https://www.coinpayments.net/index.php?cmd=status&id=CPCA2A0LQFVPWGTPI5Z5DJ2EFY&key=9824aad9a420aff520e9ac9c1c1ba015', 'myPop1',800,500);" href="javascript:void(0);">CLICK TO OPEN POPUP</a>

                                                    </div>

                                                    <div class="col-md-12">
                                                        <h4> <b> <%= address %>  </b>   </h4>
                                                        <span class="qr_code"></span>
                                                    </div>

                                                    <div class="col-md-12">
                                                        It is highly recommended that you make the payment within the one hour window otherwise you will experience significant delays. It may take upto 1 confirmation for your payment to be verified. This page does not require to be open in order for the payment to be processed.
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row asset-collapse">
                                                    <div class="col-md-12">
                                                        <a onclick="popupCenter('https://rinkeby.etherscan.io/tx/0x64457e8d9c831236d744aef2dc33363ddbdf36daf6e3d146119e0bc1633884ae', 'myPop1',850,500);" href="javascript:void(0);">Rinkeby TX Status</a>
                                                    </div>
                                                </div>
                                                <div class="row asset-collapse">
                                                    <div class="col-md-12">
                                                        <label>&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12  asset-collapse text-center">
                                                    <a href="/">
                                                        <input type="button" class="btn btn-primary" value="Thanks"> </a>
                                                </div>
                                            </div>
                                        </div>

                                        <% } else { %>
                                            <!-- box -->

                                        <div class="panel-heading">
                                            <h4 class="panel-title">
						   					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-info-circle" aria-hidden="true"></i> Step 1. Provide your Ethereum Address</a>
							 				</h4>
                                        </div>

                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">

                                                    <div class="row asset-collapse">
                                                        <div class="col-md-12">
                                                            <label>
                                                                <div style="margin-bottom: 20px;">Please enter your own ETH address with access to the private key (ERC20 Wallet). LYNK tokens will be transferred to this address.</div>
                                                                <div style="background-color: #f5f5f5;padding: 19px;">
                                                                    <p style="font-weight: 500;margin-bottom:10px;">IMPORTANT!</p>
                                                                    DO NOT USE your cryptoexchange ETH wallet address or ETH address created with Ethereum client without access to a private key (freewallet.org coinbase or online Ethereum wallets)!
                                                                    <br/>
                                                                    <p style="margin-top: 8px;">If you don't have a private key of this ETH address, you will not have access to your LYNK tokens!</p>
                                                                </div>
                                                                <p style="margin-top:20px; margin-bottom: 15px;">You can create an Ethereum address using <a href="https://kb.myetherwallet.com/getting-started/creating-a-new-wallet-on-myetherwallet.html" style="color:#1E88E5;" target="_blank">MyEtherWallet.com</a>, <a href="https://metamask.io/" target="_blank" style="color:#1E88E5;">Metamask</a>.</p>

                                                                <ul style="display:none;">
                                                                    <li>Please enter your public Ethereum address to receive the
                                                                        <%=tokenDetails.symbol%> Tokens (required).</li>
                                                                    <li> This address should be from one of the Wallets where you have full access including private key, NOT from any exchanges.</li>
                                                                    <li>*** Please Note *** You will not be able to retrieve Tokens from the addresses that are from Exchanges..</li>
                                                                    <li>If you dont have an Ethereum address, please go through <a href="https://kb.myetherwallet.com/getting-started/creating-a-new-wallet-on-myetherwallet.html">MyEtherWallet.com knowledge base here to create an address</a></li>
                                                                </ul>
                                                            </label>
                                                            <div class="input-group epa">
                                                                <span class="input-group-addon"> <b> Ethereum Public Address </b></span>
                                                                <input class="form-control" type="text" id="ethaddress" name="ethaddress" onChange="document.getElementById('lblEthAddress').value= this.value" onblur="checkAddress(this.value)">
                                                                <% if (newwallet != "0") { %>
                                                                    <span class="input-group-btn">
												<button class="btn bg-teal" onclick="createWallet();" type="button">Create Address ?</button>
											</span>
                                                                    <% } %>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row asset-collapse">
                                                        <div class="col-md-12">
                                                            <!-- 										<div class="col-md-3">
											<div class="radio">
												<label>
													<input type="radio" name="radio-styled-color" class="control-primary" checked="checked">
													Ethereum Wallet
												</label>
											</div>
										</div>

										<div class="col-md-3">
											<div class="radio">
												<label>
													<input type="radio" name="radio-styled-color" class="control-danger">
													Ethereum Mist
												</label>
											</div>
										</div>

										<div class="col-md-3">
											<div class="radio">
												<label>
													<input type="radio" name="radio-styled-color" class="control-success">
													MyEtherWallet.com
												</label>
											</div>
										</div>

										<div class="col-md-3">
											<div class="radio">
												<label>
													<input type="radio" name="radio-styled-color" class="control-success">
													Other Wallet    (Not Exchange)
												</label>
											</div>
										</div> -->

                                                        </div>
                                                    </div>

                                                    <div class="row asset-collapse">
                                                        <div class="col-md-12">
                                                            <label>&nbsp;</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12  asset-collapse text-center">
                                                        <a class="btn btn-primary asset-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Continue</a>
                                                    </div>

                                                </div>
                                            </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
							   <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-plus-square" aria-hidden="true"></i>Step 2. Select Your Payment Method</a>
							 </h4>
                                        </div>

                                        <div id="collapse2" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                <div class="row asset-collapse converter">
                                                    <div class="col-xs-12 col-sm-5 col-md-3">
                                                        <form class="form-inline">
                                                            <div class="form-group">
                                                                <label for=""><img src="assets/images/lynked.world-logo.png" width="20"> <b>Lynk</b></label>
                                                                <input type="text" id="lynk" class="form-control mx-sm-3" aria-describedby="" value="" onchange="updateDataLYNK();" />
                                                                <input type="hidden" id="tokenPrice" value="<%=tokenPrice%>" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2 col-md-1"><img src="assets/images/back-arrow.png" width="40px" class="center-block img-responsive mobile-rotate"></div>
                                                    <div class="col-xs-12 col-sm-5 col-md-5">
                                                        <form class="form-inline form-coverter">
                                                            <div class="form-group mb-10">
                                                                <label for=""><img src="assets/images/ethereum.png" width="20"> <b>Ethereum</b></label>
                                                                <input type="text" id="eth_total" class="form-control mx-sm-3" aria-describedby="" value="" onchange="updateDataETH();" />
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for=""><img src="assets/images/bitcoin.png" width="20"> <b>Bitcoin</b></label>
                                                                <input type="text" id="btc_total" class="form-control mx-sm-3" value="" onchange="updateDataBTC();" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <p>&nbsp;</p>
                                                </div>

                                                <div class="row asset-collapse">
                                                    <div class="col-md-3">
                                                        <div>
                                                            <label> Market price today ($) <a href="https://www.cryptocompare.com/" target="_blank">(cryptocompare.com)</a></label>
                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"> <b> 1 ETH </b></span>
                                                            <input type="text" id="eth" class="form-control" readonly="readonly" value="<%=eth%> ">

                                                        </div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon"> <b> 1 BTC </b></span>
                                                            <input type="text" id="btc" class="form-control" readonly="readonly" value="<%=btc%> ">

                                                        </div>
                                                    </div>

                                                    <div class="col-md-1">&nbsp;</div>
                                                    <div class="col-md-6">
                                                        <label>Select the Payment method you want to buy
                                                            <%=tokenSymbol%> with </label>
                                                        <% if (paymentEthereum == "1") {%>
                                                            <div class="epa-radio">
                                                                <input type="radio" class="" name="level0" onclick="handleClick(this);" value="Ethereum" id="Ethereum" />
                                                                <label for="B">Ethereum</label>
                                                            </div>
                                                            <% } %>
                                                                <% if (paymentBitcoin == "1") {%>
                                                                    <div class="epa-radio">
                                                                        <input type="radio" class="" name="level0" onclick="handleClick(this);" value="Bitcoin" id="Bitcoin" />
                                                                        <label for="B">Bitcoin</label>

                                                                    </div>
                                                                    <% } %>

                                                                        <!-- 											<% if (paymentLitecoin == "1") {%>	
													<div>
														<input type="radio" name="level0" onclick="handleClick(this);" value="Litecoin" id="Litecoin" />
														<label for="B">Litecoin</label>

													</div>
											<% } %>	
 -->

                                                                        <style>
                                                                            /* Extras */
                                                                            
                                                                            a:visited {
                                                                                color: #888
                                                                            }
                                                                            
                                                                            a {
                                                                                color: #444;
                                                                                text-decoration: none;
                                                                            }
                                                                            
                                                                            p {
                                                                                margin-bottom: .3em;
                                                                            }
                                                                            
                                                                            .sub1,
                                                                            .sub2 {
                                                                                display: none;
                                                                            }
                                                                            
                                                                            :checked ~ .sub1,
                                                                            :checked ~ .sub2 {
                                                                                display: block;
                                                                                margin-left: 40px;
                                                                            }
                                                                        </style>
                                                                        <p style="margin-top: 10px;margin-bottom: 15px;"><b>Note:</b> Tokens bonus/discount will be calculated based on payment and received date.
                                                                        </p>
                                                                        <% if (paymentCrypto == "1") {%>
                                                                            <div>
                                                                                <input type="radio" name="level0" value="Crypto" id="Crypto" />
                                                                                <label for="A">Other Cryptocurrency (0.5% Charges apply)</label>
                                                                                <div class="sub1">
                                                                                    <div>
                                                                                        <!-- 																<input type="radio" name="level1"  onclick="handleClick(this);" value="BTC" id="BTC"/>
																<label for="A0">Bitcoin</label>
																<input type="radio" name="level1" onclick="handleClick(this);" value="ETH" id="ETH"/>
																<label for="A1">Ethereum</label> -->
                                                                                        <input type="radio" name="level1" onclick="handleClick(this);" value="LTCT" id="LTCT" />
                                                                                        <label for="A0">Litecoin</label>
                                                                                        <input type="radio" name="level1" onclick="handleClick(this);" value="Dash" id="Dash" />
                                                                                        <label for="A1">Dash</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% } %>
                                                                                <% if (paymentPaypal == "1") {%>
                                                                                    <div>
                                                                                        <input type="radio" name="level0" onclick="handleClick(this);" value="Paypal" id="Paypal" />
                                                                                        <label for="B">Paypal</label>

                                                                                    </div>
                                                                                    <% } %>

                                                                                        <% if (paymentCreditCard == "1") {%>
                                                                                            <div>
                                                                                                <input type="radio" name="level0" onclick="handleClick(this);" value="Credit Card" id="Credit Card" />
                                                                                                <label for="C">Credit Card (2.9% Charges apply)</label>
                                                                                                <div class="sub1" class="col-md-3">
                                                                                                    <div class="input-group">
                                                                                                        <span class="input-group-addon"> <b> Invest Amount </b></span>
                                                                                                        <input type="text" id="amount" name="amount" class="form-control" onchange="updateCCData();" placeholder="1000.00">
                                                                                                        <span class="input-group-addon"> <b> <%= currency %> </b></span>
                                                                                                    </div>

                                                                                                    <div class="input-group">

                                                                                                        <span class="input-group-addon"> <b> + C.C. Charges</b></span>
                                                                                                        <input type="text" id="cccharges" name="amount" class="form-control" placeholder="1000.00">
                                                                                                        <span class="input-group-addon"> <b> <%= currency %> </b></span>

                                                                                                    </div>

                                                                                                    <div class="input-group">

                                                                                                        <span class="input-group-addon"> <b> Total Amount  &nbsp;</b></span>
                                                                                                        <input type="text" id="totalamount" name="amount" class="form-control" placeholder="1000.00">
                                                                                                        <span class="input-group-addon"> <b> <%= currency %> </b></span>

                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                            <% } %>
                                                                                                <% if (paymentACH == "1") {%>
                                                                                                    <div>
                                                                                                        <input type="radio" name="level0" onclick="handleClick(this);" value="ACH" id="ACH" />
                                                                                                        <label for="C">Automated Clearing House (ACH)</label>
                                                                                                    </div>
                                                                                                    <% } %>

                                                                                                        <% if (paymentBank == "1") {%>
                                                                                                            <div>
                                                                                                                <input type="radio" name="level0" onclick="handleClick(this);" value="Bank Wire" id="Bank Wire" />
                                                                                                                <label for="C">Bank Wire Transfer</label>
                                                                                                            </div>

                                                                                                            <% } %>

                                                    </div>
                                                    <div class="col-sm-12  asset-collapse text-center">
		                                                <a class="btn btn-primary asset-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Continue</a>
		                                            </div>
                                                </div>

                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
							   <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-handshake-o" aria-hidden="true"></i>Step 3. Confirmation </a>
							 </h4>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <div class="panel-body">

                                                <div class="row asset-collapse">
                                                    <div class="col-md-12">
                                                        <p>&nbsp;</p>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label>Your Public Ethereum address</label>
                                                    </div>
                                                    <div class="col-md-1 text-center hidden-xs hidden-sm">
                                                        <label>:</label>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="lblEthAddress" id="lblEthAddress" size="40" disabled>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row asset-collapse">
                                                    <div class="col-md-3">
                                                        <label>You have selected </label>
                                                    </div>
                                                    <div class="col-md-1 text-center hidden-xs hidden-sm">
                                                        <label>:</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" name="lblCoinType" id="lblCoinType" disabled>
                                                        <input type="hidden" name="coin" id="coin">
                                                    </div>
                                                </div>

                                                <br>
                                                <!-- 									<div class="row asset-collapse">
										<div class="col-md-10">
										  <div class="col-md-5">
											<label>You are going to invest (USD) </label>
										  </div>
										  <div class="col-md-1">
											  <label>:</label>
										  </div>

										  <div class="col-md-6">
											  <input type="text" name="amount_confirm" id="amount_confirm" disabled> 
										  </div>
										</div>
									  </div>
									<br>
									<div class="row asset-collapse">
										<div class="col-md-10">
										  <div class="col-md-5">
											<label>You will receive <%= tokenSymbol %> Tokens</label>
										  </div>
										  <div class="col-md-1">
											  <label>:</label>
										  </div>

										  <div class="col-md-6">
											  <input type="text" name="tokens_confirm" id="tokens_confirm" disabled> 

										  </div>
										</div>
									  </div>
 -->
                                                <div class="row asset-collapse">
                                                    <div class="col-md-10">
                                                        <label>&nbsp;</label>
                                                    </div>
                                                </div>

                                                <div class="col-sm-10 asset-collapse text-center">
                                                    <div onclick="clickStripe1();" class="btn btn-primary" value="Submit"> Proceed to Make Payment </div>

                                                    <!-- <input type="submit" name="submit" value="submit"> -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Primary modal -->
                                    <!-- <div id="modal_large" class="modal fade"> -->

                                    <div id="modal_theme_primary" class="modal fade">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h6 class="modal-title">Primary header</h6>
                                                </div>

                                                <div id="include" class="modal-body">
                                                    <h6 class="text-semibold">Text in a modal</h6>
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                                    <hr>

                                                    <h6 class="text-semibold">Another paragraph</h6>
                                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                </div>

                                                <div class="modal-body">
                                                    <h6 class="text-semibold">Text in a modal</h6>
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                                    <hr>

                                                    <h6 class="text-semibold">Another paragraph</h6>
                                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                </div>

                                                <div class="modal-body">
                                                    <h6 class="text-semibold">Text in a modal</h6>
                                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                                                    <hr>

                                                    <h6 class="text-semibold">Another paragraph</h6>
                                                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                                                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /primary modal -->

                                    <!-- box -->

                                    <!-- <% } %> -->

                                </div>
                            </div>
                        </div>
                </div>
            </div>
            </form>

            <script>
                var orderid = "";

                var checkoutHandler = StripeCheckout.configure({
                    key: 'pk_test_Nez7QF10VNMfZQ7i8y8MkxGZ',
                    locale: "auto"
                });

                var button = document.getElementById("buttonCheckout");

                function clickStripe() {

                    checkoutHandler.open({
                        name: "LMI Co.",
                        description: "LMI Token Sale ",
                        email: "saravana.malaichami@gmail.com",
                        token: handleToken
                    });
                }

                function checkAddress(addr) {
                    if(addr) {
                        $.get('/checkAddress?addr='+addr, function(data){
                            if(data){
                                if(!data.status){
                                    document.getElementById('lblEthAddress').value="";
                                    document.getElementById('ethaddress').value="";
                                    alert('Invalid address please enter a valid address.')
                                }
                            }else{
                                alert('Invalid address please enter a valid address.')
                            }
                        })
                    }
                }

                function clickStripe1() {

                    var form = document.getElementById('myform');
                    var ethaddress = document.getElementById("ethaddress").value;
                    //var amount = parseFloat(document.getElementById("amount").value).toFixed(2) * 100 ;
                    var coin = document.getElementById("coin").value;
                    // var tokens = document.getElementById("tokens").value;

                    if (ethaddress == "") {
                        alert("Ethereum Address can't be blank..");
                        form.ethaddress.focus();
                        return false;
                    }

                    if (coin == "") {
                        alert("Please select payment method...");
                        return false;
                    }

                    if (coin == "Credit Card" || coin == "Bank Wire" || coin == "Ethereum" || coin == "Bitcoin") {
                        // create an order 

                        $("#message1").html("Processing please wait....")
                        $.post('/createOrderNew/' + coin + '/' + ethaddress, function(data) {
                            orderid = data["_id"];
                            if (coin == "Credit Card") {
                                clickStripe();
                            } else {
                                messageText = '<div class="panel-body"> <div class="panel-group" id="accordion"> <div class="panel panel-default"><div class="panel-heading"><h4 class="panel-title text-center">Thank you for your interest</h4></div><div style="text-align: center" class="panel-body"><div class="row asset-collapse"> 	<div class="col-md-12"> </div>  </div> <div class="row asset-collapse"><div class="col-md-12"> Please make your payment to the following address to complete your transaction<br> <h4>';

                                messageText += data.address;

                                var copy_string = '';
                                copy_string = data.address;
                                copy_string = copy_string.replace("Ethereum Address : ", "");
                                var copy_string_final = '';
                                copy_string_final = "'" + copy_string + "'";

                                messageText += '<a href="javascript:;" onclick="copyToClipboard(' + copy_string_final + ')">';
                                messageText += '<img src="assets/images/copy_link.png" style="margin-left:25px;width:20px;margin-top:-2px;"></a>';

                                messageText += '</h4><div class="qr_code_block">' + data.qr_code + '</div>';

                                messageText += '</div></div> <div class="row asset-collapse"> 	<div class="col-md-12"> It is highly recommended that you make the payment within the one hour window otherwise you will experience significant delays. It may take upto 1 confirmation for your payment to be verified. This page does not require to be open in order for the payment to be processed. It may take upto 1 hour to reflect the payment after deposit.</div> </div>  <br> <div class="col-sm-12  asset-collapse text-center"> <a href="/"> <input type="button" class="btn btn-primary" value="GO TO DASHBOARD TO CHECK PAYMENT STATUS"> </a> </div>   </div> </div> </div> </div>';
                                $("#message1").html(messageText);
                            }
                            //alert(data);

                        });
                        return true;
                    } else {

                        document.myform.submit();
                    }

                }

                function handleToken(token) {
                    fetch("/charge/" + orderid, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify(token)
                        })
                        .then(response => {
                            if (!response.ok)
                                throw response;
                            return response.json();
                        })
                        .then(output => {
                            //alert("success...");
                            messageText = '<div class="panel-body"> <div class="panel-group" id="accordion"> <div class="panel panel-default"> <div style="text-align: center" class="panel-body">  <div class="row asset-collapse"> 	<div class="col-md-12"> </div>  </div> <div class="row asset-collapse"> 	<div class="col-md-12"> It is highly recommended that you make the payment within the one hour window otherwise you will experience significant delays. It may take upto 1 confirmation for your payment to be verified. This page does not require to be open in order for the payment to be processed.  </div> </div>  <br> <div class="col-sm-12  asset-collapse text-center">  <a href="/"> <input type="button" class="btn btn-primary" value="Thanks, go to Orders"> </a> </div>   </div> </div> </div> </div>';
                            $("#message1").html(messageText);
                            $.post('/createtxn/' + orderid, function(data) {
                                //alert(data);

                            });
                            console.log("Purchase succeeded:", output);
                        })
                        .catch(err => {
                            $("#message1").html("There is some problem with Payment, please try again...")
                            console.log("Purchase failed:", err);
                        })
                }

                function updateDataETH() {
                    var tokenPrice = document.getElementById('tokenPrice').value
                    var eth = parseFloat(document.getElementById('eth').value);
                    var btc = parseFloat(document.getElementById('btc').value.replace(/,/g, ''));
                    var eth_total = document.getElementById('eth_total').value;

                    document.getElementById('btc_total').value = parseFloat(eth_total * eth / btc).toFixed(4);;
                    var total_tokens = parseFloat(eth_total * eth / tokenPrice);

                    if (eth_total >= 1   && eth_total < 100) { total_tokens = total_tokens * 1.60 }
                    if (eth_total >= 100   && eth_total < 250) { total_tokens = total_tokens * 1.70 }
                    if (eth_total >= 250   && eth_total < 500) { total_tokens = total_tokens * 1.80 }
                    if (eth_total >= 500 && eth_total < 1000) { total_tokens = total_tokens * 1.90  }
                    if (eth_total >= 1000)  { total_tokens = total_tokens * 2.00 }
                    document.getElementById('lynk').value = parseFloat(total_tokens).toFixed(4);


                }

                function updateDataBTC() {
                    var tokenPrice = document.getElementById('tokenPrice').value
                    var eth = document.getElementById('eth').value
                    var btc = parseFloat(document.getElementById('btc').value.replace(/,/g, ''));
                    var btc_total = document.getElementById('btc_total').value;

                    document.getElementById('eth_total').value = parseFloat(btc_total * btc / eth).toFixed(4);;
                    var total_tokens = parseFloat(btc_total * btc / tokenPrice).toFixed(4);
                    var eth_total = document.getElementById('eth_total').value;

                    //document.getElementById('lynk').value = 

                    if (eth_total >= 1   && eth_total < 100) { total_tokens = total_tokens * 1.60 }
                    if (eth_total >= 100   && eth_total < 250) { total_tokens = total_tokens * 1.70 }
                    if (eth_total >= 250   && eth_total < 500) { total_tokens = total_tokens * 1.80 }
                    if (eth_total >= 500 && eth_total < 1000) { total_tokens = total_tokens * 1.90  }
                    if (eth_total >= 1000)  { total_tokens = total_tokens * 2.00 }
                    document.getElementById('lynk').value = parseFloat(total_tokens).toFixed(4);
                }

                function updateDataLYNK() {
                    var lynk = document.getElementById('lynk').value
                    var tokenPrice = document.getElementById('tokenPrice').value
                    var eth = document.getElementById('eth').value
                    var btc = parseFloat(document.getElementById('btc').value.replace(/,/g, ''));

                    document.getElementById('eth_total').value = parseFloat(lynk * tokenPrice / eth).toFixed(5);
                    document.getElementById('btc_total').value = parseFloat(lynk * tokenPrice / btc).toFixed(5);;

                    var eth_total = document.getElementById('eth_total').value;

                    var total_tokens = document.getElementById('lynk').value

                    if (eth_total >= 1   && eth_total < 100) { total_tokens = total_tokens * 1.60 }
                    if (eth_total >= 100   && eth_total < 250) { total_tokens = total_tokens * 1.70 }
                    if (eth_total >= 250   && eth_total < 500) { total_tokens = total_tokens * 1.80 }
                    if (eth_total >= 500 && eth_total < 1000) { total_tokens = total_tokens * 1.90  }
                    if (eth_total >= 1000)  { total_tokens = total_tokens * 2.00 }
                    document.getElementById('lynk').value =  parseFloat(total_tokens).toFixed(4);  

                }

                function updateCCData() {
                    var charges = 0.029;
                    document.getElementById('amount').value = parseFloat(document.getElementById('amount').value).toFixed(2)
                    document.getElementById('cccharges').value = parseFloat(document.getElementById('amount').value * charges).toFixed(2)
                    document.getElementById('totalamount').value = parseFloat(parseFloat(document.getElementById('amount').value) + parseFloat(document.getElementById('amount').value * charges)).toFixed(2)
                }

                var currentValue = "Ethereum";

                function handleClick(myRadio) {
                    currentValue = myRadio.value;
                    document.getElementById('lblCoinType').value = currentValue;
                    document.getElementById('coin').value = currentValue;
                }

                //copy address
                function copyToClipboard(slug_url) {
                    // Create an auxiliary hidden input
                    var aux = document.createElement("input");
                    // Get the text from the element passed into the input
                    var copy_url = slug_url;

                    aux.setAttribute("value", copy_url);
                    // Append the aux input to the body
                    document.body.appendChild(aux);
                    // Highlight the content
                    aux.select();
                    // Execute the copy command
                    document.execCommand("copy");
                    // Remove the input from the body
                    document.body.removeChild(aux);
                    alert('Copy successfully');
                }
            </script>
        </div>
        <!-- /main content -->

        </div>
        <!-- /page content -->

        </div>
        <!-- /page container -->