<!DOCTYPE html>
<html lang="en">
  <!-- Global site tag (gtag.js) - Google Analytics --><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script
      type="text/javascript"
      async=""
      src="Home%20|%20Eventica_files/analytics.js"
    ></script>
    <script async="" src="Home%20|%20Eventica_files/js.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-141222096-1");
    </script>

    <meta
      name="google-site-verification"
      content="eS0HL-_Qh9vBPvedOzUZS0CQKcnQbboj_JDqJGXDsM0"
    />

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8" />

    <!-- Mobile Specific Metas
    ================================================== -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Site Title -->
    <title>Home | Eventica</title>

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />

    <!-- CSS
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive styles-->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Colorbox -->
    <link rel="stylesheet" href="css/colorbox.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="js/util.js"></script>
  </head>

  <body>
    <div class="body-inner">
      <!-- Header start -->
      <header id="header" class="header header-transparent">
        <div class="container">
          <div class="row">
            <div class="navbar-header">
              <div class="logo">
                <a href="http://www.eventica.io/">
                  <img src="images/logo.png" alt="" />
                </a>
              </div>
              <!-- logo end -->
            </div>
            <!-- Navbar header end -->
            <div class="site-nav-inner">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <nav
                class="collapse navbar-collapse navbar-responsive-collapse pull-right"
              >
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="http://www.eventica.io/">Home </a>
                  </li>
                  <li><a href="#ts-intro">About Us</a></li>
                  <li><a href="#ts-speakers">Why Eventica?</a></li>
                  <li><a href="#ts-schedule">What we do?</a></li>
                  <li><a href="#ts-pricing">Our Team</a></li>
                  <li><a href="#ts-sponsors">Coin Sale</a></li>
                  <li><a href="#ts-pricing-1">Road Map</a></li>
                  <li><a href="#ts-sponsors-1">Contact Us </a></li>
                  <li class="header-ticket">
                    <!--                                <a class="ticket-btn btn-primary" href="logout.php"><i class="fa fa-user"></i> Logout</a>-->
                    <a
                      class="ticket-btn btn-primary"
                      href="http://www.eventica.io/invest.php"
                      ><i class="fa fa-dollar"></i> Invest</a
                    >
                  </li>

                  <li class="">
                    <a
                      class="ticket-btn btn-primary"
                      href="http://www.eventica.io/logout.php"
                      ><i class="fa fa-user"></i> Logout</a
                    >
                  </li>
                </ul>
                <!--/ Nav ul end -->
              </nav>
              <!--/ Collapse end -->
            </div>
            <!--/ Site nav inner end -->
          </div>
          <!--/ Row end -->
        </div>
        <!--/ Container end -->
      </header>
      <!--/ Header end -->

      <section id="ts-intro" class="ts-intro no-padding">
        <div class="gap-60"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <img src="images/Eventica_3.png" class="img-responsive" />
            </div>
            <div class="col-sm-8 ">
              <div class="gap-30"></div>
              <h4 class="text-center">
                "Hurry - Current One EVNT Price is 10 Cents"
              </h4>
              <div class="mrb-30"></div>
              <form action="#" method="post">
                <div class="form-group newsletter-form">
                  <input
                    type="number"
                    id="ether"
                    min=".01"
                    step=".01"
                    class="form-control form-control-lg"
                    placeholder="Value in ETH. For eg, typing '10' would mean 10 ETH"
                    autocomplete="ON"
                  />
                  <button
                    class="btn btn-primary"
                    onclick="window.invest();"
                    type="button"
                  >
                    Invest
                  </button>
                  <button
                    type="button"
                    class="hidden"
                    id="triggerModal"
                    data-toggle="modal"
                    data-target="#modal-notification"
                  ></button>
                </div>
              </form>
            </div>
            <!-- Col 1 end -->

            <!-- Col 2 end -->
          </div>
          <hr />
          <div class="container">
            <div class="row text-center">
              <h3 class="section-sub-title">
                We recommend you to use wallets:
              </h3>
            </div>
            <!--/ Title row end -->
            <div class="row">
              <div class="col-md-12">
                <div class="schedule-tab">
                  <ul class="nav nav-tabs" id="nav-tabs">
                    <li class="active">
                      <a
                        class="animated fadeIn"
                        href="#tab_one"
                        data-toggle="tab"
                      >
                        <img src="images/400px-Metamask.png" />
                      </a>
                    </li>
                    <li>
                      <a
                        class="animated fadeIn"
                        href="#tab_two"
                        data-toggle="tab"
                      >
                        <img src="images/myetherwallet-logo.png" />
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div
                      class="tab-pane active animated fadeInRight"
                      id="tab_one"
                    >
                      <div class="schedule-listing">
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> Go to
                          <a href="" target="_blank">metamask.io </a> and follow
                          the instructions on the site.
                        </p>
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> After installing the
                          extension, follow the instructions from MetaMask to
                          create a wallet. Make sure you keep all the keys in a
                          safe place.
                        </p>
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> After the wallet is
                          created, refresh this page so that you can make your
                          first investment.
                        </p>
                      </div>
                    </div>
                    <!-- Tab pane 1 end -->
                    <div class="tab-pane animated fadeInRight" id="tab_two">
                      <div class="schedule-listing">
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> Go to
                          <a
                            href="https://www.myetherwallet.com/"
                            target="_blank"
                            >www.myetherwallet.com.</a
                          >
                        </p>
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> Enter the future password
                          of your wallet and keep it in a safe place.
                        </p>
                        <p class="schedule-slot-desc">
                          <i class="fa fa-check"></i> Follow the instructions
                          for setting up your wallet. Make sure you keep all the
                          keys in a safe place.
                        </p>
                      </div>
                    </div>
                    <!-- Tab pane 2 end -->
                  </div>
                  <!-- tab content -->
                </div>
                <!-- Schedule tab end -->
              </div>
              <!-- Col end -->
            </div>
            <!-- Content row end -->
          </div>
          <!--/ Container end -->
          <div class="gap-60"></div>

          <!-- Content Row 2 end -->
        </div>
        <!-- Container end -->
      </section>

      <div
        id="modal-notification"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-notification"
        aria-hidden="true"
        class="modal fade"
      >
        <div
          role="document"
          class="modal-dialog modal-danger modal-dialog-centered modal-"
        >
          <div
            class="modal-content"
            style="background-image:url(images/bg.jpg)"
          >
            <div class="modal-body text-center">
              <h5>
                To make an investment in Eventica, transfer any amount of ETH to
                the address.
              </h5>
              <div class="form-group newsletter-form">
                <input
                  name="ethaddress"
                  id="ethaddress"
                  value="0x40bD106Bf81E336902e0d1037e42fde78247bd9F"
                  class="form-control form-control-lg"
                  placeholder="10 ETH"
                />
                <button
                  type="button"
                  onclick="doCopy()"
                  class="btn btn-block btn-primary radius-left-non"
                >
                  Copy
                </button>
              </div>
              <span class="data_text" style="display: none;"> </span>
              <h6>min investment is 0.01 ETH</h6>
              <h6>Recommended <a href="">amount of gas </a>- 250000</h6>
              <h5 class="text-warning">
                *Transfers from exchanges are not allowed! Only from your
                personal ETH wallet
              </h5>
              <button
                type="button"
                data-dismiss="modal"
                style="margin: 0 auto"
                class="btn btn-white ml-auto mt-4"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer" class="footer ">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="copyright-info">
                <span>Copyright © 2018 Eventica. All Rights Reserved.</span>
              </div>
              <!-- Copyright info end -->
            </div>
            <!-- Content col end -->
            <div class="col-md-6">
              <!-- Footer menu end -->
              <div class="footer-social text-center">
                <ul>
                  <li>
                    <a
                      href="https://www.facebook.com/1285978671536389"
                      target="_blank"
                      ><i class="fa fa-facebook"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://twitter.com/eventicaupdates"
                      target="_blank"
                      ><i class="fa fa-twitter" target="_blank"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.youtube.com/channel/UCps8d1E0Q4v8-P4WNjHHCqA"
                      target="_blank"
                      ><i class="fa fa-youtube" target="_blank"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://plus.google.com/u/1/117711261836707390891"
                      target="_blank"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/eventicaofficial/"
                      target="_blank"
                      ><i class="fa fa-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://t.me/eventicaofficial" target="_blank"
                      ><i class="fa fa-paper-plane"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <!-- Footer social end -->
            </div>
          </div>
          <!-- Content row end -->
        </div>
        <!-- Container end -->
        <div
          id="back-to-top"
          data-spy="affix"
          data-offset-top="10"
          class="back-to-top affix-top"
          style="display: none;"
        >
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-up"></i>
          </button>
        </div>
      </footer>
      <!-- Footer end -->

      <!-- Javascript Files
            ================================================== -->
      <!-- initialize jQuery Library -->
      <!--<script type="text/javascript" src="js/jquery.js"></script>-->
      <script src="js/jquery_002.js"></script>

      <!-- Bootstrap jQuery -->
      <!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
      <script type="text/javascript" src="js/bootstrap.js"></script>

      <!-- Counter -->
      <script type="text/javascript" src="js/jquery_003.js"></script>
      <!-- Countdown -->
      <script type="text/javascript" src="js/jquery_004.js"></script>
      <!-- Waypoints -->
      <script type="text/javascript" src="js/waypoints.js"></script>
      <!-- Color box for Popup-->
      <script type="text/javascript" src="js/jquery.js"></script>
      <!-- Smoothscroll -->
      <script type="text/javascript" src="js/smoothscroll.js"></script>

      <!-- Google Map Plugin-->
      <script type="text/javascript" src="js/gmap3.js"></script>

      <script type="text/javascript" src="js/web3.js"></script>

      <script src="js/jquery_005.js"></script>

      <!-- Template custom -->
      <script type="text/javascript" src="js/custom.js"></script>

      <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->

      <script>
        try {
          if (typeof web3 !== "undefined") {
            window.web3 = new Web3(web3.currentProvider);
          } else {
            web3 = new Web3(
              new Web3.providers.HttpProvider("http://localhost:8545")
            );
          }
          var EventicaContract = web3.eth.contract([
            {
              constant: true,
              inputs: [{ name: "_customerAddress", type: "address" }],
              name: "dividendsOf",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "name",
              outputs: [{ name: "", type: "string" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [{ name: "_ethereumToSpend", type: "uint256" }],
              name: "calculateTokensReceived",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "totalSupply",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [{ name: "_tokensToSell", type: "uint256" }],
              name: "calculateEthereumReceived",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "decimals",
              outputs: [{ name: "", type: "uint8" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: false,
              inputs: [],
              name: "withdraw",
              outputs: [],
              payable: false,
              stateMutability: "nonpayable",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "sellPrice",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "stakingRequirement",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [{ name: "_includeReferralBonus", type: "bool" }],
              name: "myDividends",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "totalEthereumBalance",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [{ name: "_customerAddress", type: "address" }],
              name: "balanceOf",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "buyPrice",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "myTokens",
              outputs: [{ name: "", type: "uint256" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: true,
              inputs: [],
              name: "symbol",
              outputs: [{ name: "", type: "string" }],
              payable: false,
              stateMutability: "view",
              type: "function"
            },
            {
              constant: false,
              inputs: [
                { name: "_toAddress", type: "address" },
                { name: "_amountOfTokens", type: "uint256" }
              ],
              name: "transfer",
              outputs: [{ name: "", type: "bool" }],
              payable: false,
              stateMutability: "nonpayable",
              type: "function"
            },
            {
              constant: false,
              inputs: [{ name: "_amountOfTokens", type: "uint256" }],
              name: "sell",
              outputs: [],
              payable: false,
              stateMutability: "nonpayable",
              type: "function"
            },
            {
              constant: false,
              inputs: [],
              name: "exit",
              outputs: [],
              payable: false,
              stateMutability: "nonpayable",
              type: "function"
            },
            {
              constant: false,
              inputs: [{ name: "_referredBy", type: "address" }],
              name: "buy",
              outputs: [{ name: "", type: "uint256" }],
              payable: true,
              stateMutability: "payable",
              type: "function"
            },
            {
              constant: false,
              inputs: [],
              name: "reinvest",
              outputs: [],
              payable: false,
              stateMutability: "nonpayable",
              type: "function"
            },
            { payable: true, stateMutability: "payable", type: "fallback" },
            {
              anonymous: false,
              inputs: [
                { indexed: true, name: "customerAddress", type: "address" },
                { indexed: false, name: "incomingEthereum", type: "uint256" },
                { indexed: false, name: "tokensMinted", type: "uint256" },
                { indexed: true, name: "referredBy", type: "address" },
                { indexed: false, name: "timestamp", type: "uint256" },
                { indexed: false, name: "price", type: "uint256" }
              ],
              name: "onTokenPurchase",
              type: "event"
            },
            {
              anonymous: false,
              inputs: [
                { indexed: true, name: "customerAddress", type: "address" },
                { indexed: false, name: "tokensBurned", type: "uint256" },
                { indexed: false, name: "ethereumEarned", type: "uint256" },
                { indexed: false, name: "timestamp", type: "uint256" },
                { indexed: false, name: "price", type: "uint256" }
              ],
              name: "onTokenSell",
              type: "event"
            },
            {
              anonymous: false,
              inputs: [
                { indexed: true, name: "customerAddress", type: "address" },
                { indexed: false, name: "ethereumReinvested", type: "uint256" },
                { indexed: false, name: "tokensMinted", type: "uint256" }
              ],
              name: "onReinvestment",
              type: "event"
            },
            {
              anonymous: false,
              inputs: [
                { indexed: true, name: "customerAddress", type: "address" },
                { indexed: false, name: "ethereumWithdrawn", type: "uint256" }
              ],
              name: "onWithdraw",
              type: "event"
            },
            {
              anonymous: false,
              inputs: [
                { indexed: true, name: "from", type: "address" },
                { indexed: true, name: "to", type: "address" },
                { indexed: false, name: "tokens", type: "uint256" }
              ],
              name: "Transfer",
              type: "event"
            }
          ]);
          var Eventica = EventicaContract.at(
            "0xC28E860C9132D55A184F9af53FC85e90Aa3A0153"
          );
          //   console.log(Eventica);
          web3.eth.defaultAccount = web3.eth.accounts[0];
          console.log(web3.eth.defaultAccount);
        } catch (e) {
          if (String(e).indexOf("Couldn't connect to node")) {
            console.log("Defintely connection problem");
          }
        }

        function doCopy() {
          /* Get the text field */
          var copyText = document.getElementById("ethaddress");

          /* Select the text field */
          copyText.select();

          /* Copy the text inside the text field */
          document.execCommand("copy");

          /* Alert the copied text */
          alert("Copied!");
        }

        function invest() {
          var amount = document.getElementById("ether").value || 0;

          if (!amount || amount < 0.01) {
            return alert(
              "Please enter an amount value equal to or greater than 0.01"
            );
          }

          web3.eth.getAccounts(function(err, accounts) {
            if (err != null) {
              console.error(
                "An error occurred: " + err,
                String(err).indexOf("Invalid JSON RPC response")
              );
              if (String(err).indexOf("Invalid JSON RPC response") > -1)
                document.getElementById("triggerModal").click();
            } else if (accounts.length == 0) {
              console.log("User is not logged in to MetaMask"); //********** call invest popup here
              // gtag('event','click',{'event_category':'button1','event_label':'invets'})
              document.getElementById("triggerModal").click();
            } else {
              console.log("User is logged in to MetaMask");
              transfer();
            }
          });
        }

        // buy eventica token
        function transfer() {
          var amount = document.getElementById("ether").value || 0;

          if (!amount || amount < 1) {
            return alert(
              "Please enter an amount value equal to or greater than 1"
            );
          }

          //this address i will replace later
          web3.eth.sendTransaction(
            {
              from: web3.eth.defaultAccount,
              to: "0x40bD106Bf81E336902e0d1037e42fde78247bd9F",
              value: web3.toWei(amount, "ether")
            },
            function(err, transactionHash) {
              if (!err) console.log(transactionHash);
              else console.log(err); // "0x40bD106Bf81E336902e0d1037e42fde78247bd9F"
            }
          );
        }

        function tknbal() {
          Eventica.balanceOf(web3.eth.defaultAccount, function(
            err,
            tokenbalance
          ) {
            if (!err) {
              console.log(parseFloat(tokenbalance).toFixed(18) / 1.0e18);
            } else {
              console.log(err);
            }
          });
        }
      </script>

      <!-- Footer end -->

      <!-- Javascript Files
              ================================================== -->

      <div id="snackbar">You have signed up successfully with evantica!</div>
    </div>
    <!-- Body inner end -->

    <div id="cboxOverlay" style="display: none;"></div>
    <div
      id="colorbox"
      class=""
      role="dialog"
      tabindex="-1"
      style="display: none;"
    >
      <div id="cboxWrapper">
        <div>
          <div id="cboxTopLeft" style="float: left;"></div>
          <div id="cboxTopCenter" style="float: left;"></div>
          <div id="cboxTopRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
          <div id="cboxMiddleLeft" style="float: left;"></div>
          <div id="cboxContent" style="float: left;">
            <div id="cboxTitle" style="float: left;"></div>
            <div id="cboxCurrent" style="float: left;"></div>
            <button type="button" id="cboxPrevious"></button
            ><button type="button" id="cboxNext"></button
            ><button type="button" id="cboxSlideshow"></button>
            <div id="cboxLoadingOverlay" style="float: left;"></div>
            <div id="cboxLoadingGraphic" style="float: left;"></div>
          </div>
          <div id="cboxMiddleRight" style="float: left;"></div>
        </div>
        <div style="clear: left;">
          <div id="cboxBottomLeft" style="float: left;"></div>
          <div id="cboxBottomCenter" style="float: left;"></div>
          <div id="cboxBottomRight" style="float: left;"></div>
        </div>
      </div>
      <div
        style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"
      ></div>
    </div>
  </body>
</html>
