<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Eventica | Mercahnt-Details</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/addtocart/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/addtocart/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/addtocart/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/addtocart/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
 <script src='js/addtocart/js/okzoom.js'></script>
  <script>
    $(function(){
      $('#example').okzoom({
        width: 150,
        height: 150,
        border: "1px solid black",
        shadow: "0 0 5px #000"
      });
    });
  </script>
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/addtocart/js/move-top.js"></script>
<script type="text/javascript" src="js/addtocart/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<link rel="stylesheet" href="css/bootstrap.css" />
<!-- Template styles-->
<link rel="stylesheet" href="css/style.css" />
<!-- Responsive styles-->
<!-- <link rel="stylesheet" href="css/responsive.css"> -->
<!-- FontAwesome -->
<link rel="stylesheet" href="css/font-awesome.css" />
<!-- Animation -->
<!-- <link rel="stylesheet" href="css/animate.css"> -->
<!-- Colorbox -->
<link rel="stylesheet" href="css/colorbox.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>    
<style>
  .snipcart-details input.button{
    width:100% !important;
  }
  input value{
    font-size: 34px !important;
  }
   /* .last input.button :hover{
	background-color: #ff0673;
	
  }  */
</style>
</head>
	
<body>
<!-- header -->
<div class="body-inner">
    <header id="header" class="header header-transparent">
      <div class="container">
        <div class="row">
          <div class="navbar-header">
            <div class="logo">
              <a href="/eventica">
                <img src="images/logo.png" alt="" />
              </a>
            </div>
          </div>
          <div class="site-nav-inner">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span> <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <nav
              class="collapse navbar-collapse navbar-responsive-collapse pull-right"
            >
              <ul class="nav navbar-nav">
				<li ><a href="/">Home </a></li>
				<li><a href="/#ts-intro">About Us</a></li>
               
                <li><a href="/#ts-speakers">Why Eventica?</a></li>
                <li><a href="/#ts-schedule">What we do?</a></li>
				<li><a href="/events">Events</a></li>
				<li class="active"><a href="/merchant">Merchandise</a></li>
                <li><a href="/exchange">Exchange</a></li>
            

                <li><a href="/#ts-sponsors-1">Contact Us </a></li>
				                
                <!-- <li><a href="/events">Events</a></li> -->
              
               <li>                
				<a href= "">
                   <form action="#" method="post" class="last">
                    <fieldset>
                      <input type="hidden" name="cmd" value="_cart" />
                      <input type="hidden" name="display" value="1" />
                      <input type="submit" name="submit" value="CART" class="button" />
                    </fieldset>
				  </form>
				</a> 
            			</li>

              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <br>
    <br>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->


<!-- //header -->
<!-- products-breadcrumb -->
	<!-- <div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
				<li>Single Page</li>
			</ul>
		</div>
	</div> -->
<!-- //products-breadcrumb -->
<!-- banner -->
		<div class="banner">
			<div class="w3l_banner_nav_left">
				<nav class="navbar nav_bottom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<!-- Collect the nav links, forms, and other content for toggling -->
							
					
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			
			<div class="agileinfo_single">
				<h5>Event Cap Adidas Pure</h5>
				<div class="col-md-4 agileinfo_single_left">
					<img id="example" src="images/cap1.jpg" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-8 agileinfo_single_right">
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
					<div class="w3agile_description">
						<h4>Description :</h4>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
							officia deserunt mollit anim id est laborum.Duis aute irure dolor in 
							reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
							pariatur.</p>
          </div>
          <div class="w3agile_description">
					<h4>Size :</h4>
					<h4>
            <form action="">
					  <input
						type="radio"
						name="size"
						value="XS"
					   
            />XS
            &nbsp;
					  <input
						type="radio"
						name="size"
						value="S"
					
            />S
            &nbsp;
					  <input
						type="radio"
						name="size"
						value="M"
						
            />M
            &nbsp;
					  <input
						type="radio"
						name="size"
						value="L"
					
            />L
            &nbsp;
					  <input
						type="radio"
						name="size"
						value="XL"
					
            />XL
            &nbsp;
					  <input
						type="radio"
						name="size"
						value="XXL"
					
            />XXL<br />
          </form>
          </h4>
        </div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							<h4><i class="fa fa-inr"></i> 788 <!-- <span>$25.00</span>--></h4>
						</div>
						<div class="snipcart-details agileinfo_single_right_details">
							<form action="#" method="post">
								<fieldset>
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" />
									<input type="hidden" name="business" value=" " />
									<input type="hidden" name="item_name" value="Event Cap Adidas Pure" />
									<input type="hidden" name="amount" value="788" />
									<input type="hidden" name="discount_amount" value="0.00" />
									<input type="hidden" name="currency_code" value="INR" />
									<input type="hidden" name="return" value=" " />
									<input type="hidden" name="cancel_return" value=" " />
									<input type="submit" name="submit" value="Add to cart" class="button" />
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- brands -->

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/addtocart/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/addtocart/js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('merchantcheckout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total < 1) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
	 <footer id="footer" class="footer ">
		<div class="container">
		  <div class="row">
			<div class="col-md-6">
			  <div class="copyright-info">
				<span>Copyright © 2018 Eventica. All Rights Reserved.</span>
			  </div>
			  <!-- Copyright info end -->
			</div>
			<!-- Content col end -->
			<div class="col-md-6">
			  <!-- Footer menu end -->
			  <div class="footer-social text-center">
				<ul>
				  <li>
					<a href="https://www.facebook.com/1285978671536389" target="_blank"><i class="fa fa-facebook"></i></a>
				  </li>
				  <li>
					<a href="https://twitter.com/eventicaupdates" target="_blank"><i class="fa fa-twitter"
						target="_blank"></i></a>
				  </li>
				  <li>
					<a href="https://www.youtube.com/channel/UCps8d1E0Q4v8-P4WNjHHCqA" target="_blank"><i
						class="fa fa-youtube" target="_blank"></i></a>
				  </li>
				  <li>
					<a href="https://plus.google.com/u/1/117711261836707390891" target="_blank"><i
						class="fa fa-google-plus"></i></a>
				  </li>
				  <li>
					<a href="https://www.instagram.com/eventicaofficial/" target="_blank"><i
						class="fa fa-instagram"></i></a>
				  </li>
				  <li>
					<a href="https://t.me/eventicaofficial" target="_blank"><i class="fa fa-paper-plane"></i></a>
				  </li>
				</ul>
			  </div>
			  <!-- Footer social end -->
			</div>
		  </div>
		  <!-- Content row end -->
		</div>
		<!-- Container end -->
		<div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix" style="display: block;">
		  <button class="btn btn-primary" title="Back to Top">
			<i class="fa fa-angle-up"></i>
		  </button>
		</div>
	  </footer>
</body>
</html>