<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="google-site-verification"
      content="eS0HL-_Qh9vBPvedOzUZS0CQKcnQbboj_JDqJGXDsM0"
    />

    <!-- Basic Page Needs
================================================== -->
    <meta charset="utf-8" />

    <!-- Mobile Specific Metas
================================================== -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Site Title -->
    <title>Home | Merchandise</title>

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //for-mobile-apps -->
  <!-- <link href="css/addtocart/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> -->
  <link href="css/addtocart/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- font-awesome icons -->
  <link href="css/addtocart/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /> 
  <!-- //font-awesome icons -->
  <!-- js -->
  <script src="js/addtocart/js/jquery-1.11.1.min.js"></script>
  <!-- //js -->
  <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <!-- start-smoth-scrolling -->
  <script type="text/javascript" src="js/addtocart/js/move-top.js"></script>
  <script type="text/javascript" src="js/addtocart/js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){		
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
  </script>

    <!-- CSS
    ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive styles-->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- Animation -->
    <!-- <link rel="stylesheet" href="css/animate.css"> -->
    <!-- Colorbox -->
    <link rel="stylesheet" href="css/colorbox.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="body-inner">
      <header id="header" class="header header-transparent">
        <div class="container">
           <div class="row">
            <!-- <div class="navbar-header">
              <div class="logo">  -->
                <a href="/">
                  <img src="images/logo.png" alt="" />
                </a>
              <!-- </div>
            </div>
            <div class="site-nav-inner"> -->
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <nav
                class="collapse navbar-collapse navbar-responsive-collapse pull-right"
              >
                <ul class="nav navbar-nav">
                  <li ><a href="/">Home </a></li>
                  <li><a href="/#ts-intro">About Us</a></li>
                  
                  <li><a href="/#ts-speakers">Why Eventica?</a></li>
                  <li><a href="/#ts-schedule">What we do?</a></li>
                  <li><a href="/events">Events</a></li>
                  <li class="active"><a href="/merchant">Merchandise</a></li>
                  <li><a href="/exchange">Exchange</a></li>
  
  
                  <li><a href="/#ts-sponsors-1">Contact Us </a></li>
                  
                
                    <li>
                
                 
                  <!-- <div class="product_list_header">   -->
                    <a href="">
                    <form action="#" method="post" class="last">
                      <fieldset>
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <input type="submit" name="submit" value="CART" class="button" />
                      </fieldset>
                    </form>
                  </a>
                  <!-- </div> -->
                </li>
                </ul>
              </nav>
            <!-- </div>
          </div> -->
        </div>
      </header>
       <br>
       <br>
       <br>
       
      <br />
      <br />
     
      <div class="w3ls_w3l_banner_nav_right_grid">
				<h3>Popular Brands</h3>
				<div class="w3ls_w3l_banner_nav_right_grid1">
          <!-- <h6>food</h6> -->
          <% product.forEach(function(product){ %>
					<div class="col-md-3 w3ls_w3l_banner_left" style="margin-bottom: 30px;">
						<div class="hover14 column" >
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/addtocart/images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">

											<a href="/merchantview"><img src="<%=imageurl+product.proimg%>" alt=" " class="img-responsiveval" /></a>
											<p style="text-align: center; font-weight: 600;"> <%=product.productName%></p>
											<h4 style="text-align: center;"><i class="fa fa-inr"></i> <%=product.productPrice%><!--<span>$5.00</span>--></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="<%=product.productName%>" />
													<input type="hidden" name="amount" value="<%=product.productPrice%>" />
													<input type="hidden" name="discount_amount" value="0.00" />
													<input type="hidden" name="currency_code" value="INR" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
          </div>
          <%});%>
				
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
  </div>
  <script src="js/addtocart/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/addtocart/js/minicart.js"></script>
<script>
		paypal.minicart.render();

		paypal.minicart.cart.on('merchantcheckout', function (evt) {
			var items = this.items(),
				len = items.length,
				total = 0,
				i;

			// Count the number of each item in the cart
			for (i = 0; i < len; i++) {
				total += items[i].get('quantity');
			}

			if (total <	1) {
				alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
				evt.preventDefault();
			}
		});

	</script>
  <br />
   <!-- Start of Zendesk Widget script -->
<!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=web_widget/smartchainerssupport.zendesk.com"></script> -->
<!-- End of Zendesk Widget script -->
    <!-- Sponsors end -->
  <footer id="footer" class="footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="copyright-info">
            <span>Copyright © 2018 Eventica. All Rights Reserved.</span>
          </div>
          <!-- Copyright info end -->
        </div>
        <!-- Content col end -->
        <div class="col-md-6">
          <!-- Footer menu end -->
          <div class="footer-social text-center">
            <ul>
              <li>
                <a
                  href="https://www.facebook.com/1285978671536389"
                  target="_blank"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/eventicaupdates" target="_blank"
                  ><i class="fa fa-twitter" target="_blank"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.youtube.com/channel/UCps8d1E0Q4v8-P4WNjHHCqA"
                  target="_blank"
                  ><i class="fa fa-youtube" target="_blank"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://plus.google.com/u/1/117711261836707390891"
                  target="_blank"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://www.instagram.com/eventicaofficial/"
                  target="_blank"
                  ><i class="fa fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://t.me/eventicaofficial" target="_blank"
                  ><i class="fa fa-paper-plane"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- Footer social end -->
        </div>
      </div>
      <!-- Content row end -->
    </div>
    <!-- Container end -->
    <div
      id="back-to-top"
      data-spy="affix"
      data-offset-top="10"
      class="back-to-top affix"
      style="display: block;"
    >
      <button class="btn btn-primary" title="Back to Top">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
  </footer>
</html>
