<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta
      name="google-site-verification"
      content="eS0HL-_Qh9vBPvedOzUZS0CQKcnQbboj_JDqJGXDsM0"
    />

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8" />

    <!-- Mobile Specific Metas
  ================================================== -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Site Title -->
    <title>Home | Merchantise - View</title>

    <!--Favicon-->
    <link
      rel="shortcut icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="http://www.eventica.io/images/favicon.ico"
      type="image/x-icon"
    />

    <!-- CSS
      ================================================== -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Template styles-->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive styles-->
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- Animation -->
    <!-- <link rel="stylesheet" href="css/animate.css"> -->
    <!-- Colorbox -->
    <link rel="stylesheet" href="css/colorbox.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="body-inner">
      <header id="header" class="header header-transparent">
        <div class="container">
          <div class="row">
            <div class="navbar-header">
              <div class="logo">
                <a href="/">
                  <img src="images/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="site-nav-inner">
              <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <nav
                class="collapse navbar-collapse navbar-responsive-collapse pull-right"
              >
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/">Home </a></li>
                  <!-- <li><a href="#ts-intro">About Us</a></li> -->
                  <li><a href="/events">Events</a></li>
                  <!-- <li><a href="#ts-speakers">Why Eventica?</a></li>
                  <li><a href="#ts-schedule">What we do?</a></li> -->
                  <!-- <li><a href="#ts-pricing">Our Team</a> </li> -->
                  <li><a href="/merchant">Merchandise</a></li>
                  <!-- <li><a href="#ts-sponsors">Coin Sale</a> </li> -->
                  <!-- <li><a href="#ts-pricing-1">Road Map</a></li>
                  <li><a href="#ts-sponsors-1">Contact Us </a></li> -->
                  <!-- <li class="header-ticket">
                    <a
                      class="ticket-btn btn-primary"
                      href="http://www.eventica.io/invest.php"
                      ><i class="fa fa-dollar"></i> Invest</a
                    >
                  </li>
                  <li class="header-ticket">
                    <a
                      class="ticket-btn btn-primary"
                      href="http://www.eventica.io/logout.php"
                      ><i class="fa fa-sign-out" aria-hidden="true"></i>
                      Logout</a
                    >
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <br />
      <br />
      <section>
        <div class="col-md-6">
          <div class="intro-pos">
            <img
              class="img-responsive"
              src="images/merchant-tshirt.jpg"
              alt=""
            />
            <!-- <a class="popup cboxElement" href="#">
            <div class="video-icon"><i class="fa fa-play"></i></div>
          </a> -->
          </div>
          <br />
        </div>
        <div class="col-md-3">
          <div>
            <!-- <img class="img-responsive" src="images/merchant-tshirt.jpg" alt="" />
          <a class="popup cboxElement" href="#">
            <div class="video-icon"><i class="fa fa-play"></i></div>
          </a> --><br />
            <h4><b>Category :</b></h4>
            <h5>T-Shirt</h5>
            <h4><b>Gender :</b></h4>
            <h5>Everyone</h5>
            <h4><b>Size :</b></h4>
            <h5>
              <input
                type="checkbox"
                name="XS"
                value="XS"
                class="checkboxclass"
              />XS
              <input
                type="checkbox"
                name="S"
                value="S"
                class="checkboxclass"
              />S
              <input
                type="checkbox"
                name="M"
                value="M"
                class="checkboxclass"
              />M
              <input
                type="checkbox"
                name="L"
                value="L"
                class="checkboxclass"
              />L
              <input
                type="checkbox"
                name="XL"
                value="XL"
                class="checkboxclass"
              />XL
              <input
                type="checkbox"
                name="XXL"
                value="XXL"
                class="checkboxclass"
              />XXL<br />
            </h5>
            <h4><b>Price :</b></h4>
            <h5><i class="fa fa-inr" aria-hidden="true"></i>799.00</h5>
          </div>
        </div>
        <div class="col-md-3">
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <button class="button buttonblue">
            <i class="fa fa-inr" aria-hidden="true"></i> BUY
          </button>
          <button class="button buttonblue">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add To Cart
          </button>
        </div>
      </section>
    </div>
    <footer id="footer" class="footer ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-info">
              <span>Copyright © 2018 Eventica. All Rights Reserved.</span>
            </div>
            <!-- Copyright info end -->
          </div>
          <!-- Content col end -->
          <div class="col-md-6">
            <!-- Footer menu end -->
            <div class="footer-social text-center">
              <ul>
                <li>
                  <a
                    href="https://www.facebook.com/1285978671536389"
                    target="_blank"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="https://twitter.com/eventicaupdates" target="_blank"
                    ><i class="fa fa-twitter" target="_blank"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCps8d1E0Q4v8-P4WNjHHCqA"
                    target="_blank"
                    ><i class="fa fa-youtube" target="_blank"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://plus.google.com/u/1/117711261836707390891"
                    target="_blank"
                    ><i class="fa fa-google-plus"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/eventicaofficial/"
                    target="_blank"
                    ><i class="fa fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://t.me/eventicaofficial" target="_blank"
                    ><i class="fa fa-paper-plane"></i
                  ></a>
                </li>
              </ul>
            </div>
            <!-- Footer social end -->
          </div>
        </div>
        <!-- Content row end -->
      </div>
      <!-- Container end -->
      <div
        id="back-to-top"
        data-spy="affix"
        data-offset-top="10"
        class="back-to-top affix"
        style="display: block;"
      >
        <button class="btn btn-primary" title="Back to Top">
          <i class="fa fa-angle-up"></i>
        </button>
      </div>
    </footer>
  </body>
</html>
