<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.png">

    <title>Token Sale | Lynked.World</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/ico.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/vendor.bundle.css?ver=122">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/assets/css/style.css?ver=122">
    <link rel="stylesheet" href="/assets/css/theme-java.css?ver=122">
    <link href="/css/responsive.css" rel="stylesheet">

</head>
<body class="auth-page">
    <main role="main">
        <section class="signin-signup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <img src="<%=site_home_url%>images/logo.png" class="img-fluid auth-logo center-block">
                        <div class="signin-form auth-form">
                        <!-- <form class="social-logins" action="/login" method="post"> -->
                            <!-- <button type="submit" class="btn-social facebook-login" name="provider" value="Facebook"><img src="images/fb.png" class="float-left"><span>Sign up with Facebook</span></button>
                            <button type="submit" class="btn-social google-login" name="provider" value="Google"><img src="images/google.png" class="float-left"><span>Sign up with Google</span></button> -->
                        <!-- </form> -->

							<form action="/reset-ajax/<%=token%>" method="post" id="form_reset_password" style="margin-bottom:15px;">
								<input type="hidden" name="token" value="<%=token%>" id="token_id">
								<div class="panel panel-body login-form">
									<div class="text-center">
										<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
										<h5 class="content-group" style="margin-bottom: 25px;">Reset Password <small class="display-block" style="display:none;">This request is valid for an hour only...</small></h5>
									</div>
									<% if ( messages.info) { %>
										<div class="alert alert-primary no-border">
											<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
											<span class="text-semibold"><%= messages.info %>
									    </div>
									<% } %>
									<% if ( messages.error) { %>
										<div class="alert alert-danger no-border">
											<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
											<span class="text-semibold"><%= messages.error %>
									    </div>
									<% } %>
									<% if ( messages.success) { %>
										<div class="alert alert-success no-border">
											<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
											<span class="text-semibold"><%= messages.success %>
									    </div>
									<% } %>

									<!--<% if ( messages.info) { %>
									<div class="<%= messages.type %>">
										<strong>FLASH!</strong> <%= messages.info %>
									</div>
									<% } %>
									<% if ( messages.error) { %>
									<div class="<%= messages.type %>">
										<strong>FLASH!</strong> <%= messages.error %>
									</div>
									<% } %> -->

									<div class="form-group has-feedback">
										<input type="password" name="password" id='password'  class="form-control" placeholder="New password">
										<div class="form-control-feedback">
											<i class="icon-mail5 text-muted"></i>
										</div>
									</div>
								<div class="form-group has-feedback">
									<input type="password" name="confirm" id="confirm_password" class="form-control" placeholder="Confirm password">
									<div class="form-control-feedback">
										<i class="icon-mail5 text-muted"></i>
									</div>
								</div>
								<button type="submit" class="btn bg-blue btn-block">Update Password <i class="icon-arrow-right14 position-right"></i></button>
								</div>
							</form>
                   		</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.bootstrap-growl.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!-- <script src="/js/custom.js"></script> -->
</body>
<script type="text/javascript">
	$(document).ready(function(){
	  $("#form_reset_password").submit(function(event) {
        event.preventDefault();
        var ajax_url 		= '';
		ajax_url 			= $('#form_reset_password').attr('action');
        var form_id    		= '#form_reset_password';

		var confirm_password = $.trim($(form_id+" #confirm_password").val());
		var new_password 	 = $.trim($(form_id+" #password").val());
		var token 			 = $.trim($(form_id+" #token_id").val());
		
		if(token==''){
			$.bootstrapGrowl('Token is require', {type: 'danger', delay:1000,width:450});
			return false;
		}
		if(new_password==''){
			$.bootstrapGrowl('Password is require', {type: 'danger', delay:1000,width:450});
			return false;
		}
		if(new_password.length<6){
			$.bootstrapGrowl('Password require minimun 6 characters', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		if(confirm_password==''){
			$.bootstrapGrowl('Confirm Password is require', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		if(new_password!=confirm_password){
			$.bootstrapGrowl('Password and Confirm Password does not match', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		
		 // You need to use standard javascript object here
    	var formData = {
    		token:token,
    		password:new_password
    	};

		$.ajax({
			url: ajax_url,
			type: "POST",
    		dataType: 'json',
    		data: formData,
			cache : false,
			success: function (result) {
				if(result.status=='OK'){
					$.bootstrapGrowl(result.msg, {type: 'success', delay:1000,width:500});
					setTimeout(function() { window.location.href='/'; },1000);
				}else{
					$.bootstrapGrowl(result.msg, {type: 'danger', delay:1000,width:350});
				}
			},
			error: function (err) {
			 console.log(err);
			 $.bootstrapGrowl('Invalid request', {type: 'danger', delay:1000,width:350});
			}
		});
    });
});
</script>
</html>