<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="images/favicon.png"> -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />

    <title>Eventica | Sign-in</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/ico.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <style>
        .auth-page {
            background: black;
        }
    </style>

</head>

<body class="auth-page">

    <main role="main">
        <section class="signin-signup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <img src="images/logo.png" class="img-fluid auth-logo center-block">
                        <div class="signin-form auth-form">


                            <form id="signin" class="social-logins" action="/signin" method="post">


                                <!-- Login with LW QR End -->



                                <div class="form-group">
                                    <input type="email" name="email" class="form-control mail-field" required="required"
                                        placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control password-field"
                                        required="required" placeholder="Password">
                                </div>
                                <p class="float-right"><a href="/forgot">Forgot password?</a></p>

                                <div class="clearfix"></div>
                                <!-- <div class="g-recaptcha" data-sitekey="6Lf-ZEUUAAAAAPtYfUgJHIG1_0xwpHcPIBDDdqqq"></div> -->
                                <div class="auth-bottom">
                                    <button class="btn btn-primary buy-tokens">Sign In </button>
                                    <div class="auth-text-line last-line">Don't have an account? <a
                                            href="/signup">Signup</a></div>
                                </div>

                            </form>



                        </div>


                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>