<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
	<script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
	<!-- <script type="text/javascript" src="assets/js/plugins/visualization/echarts/echarts.js"></script>
 -->
	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<!-- <script type="text/javascript" src="assets/js/pages/user_pages_profile.js"></script> -->
	<script type="text/javascript" src="assets/js/jquery.bootstrap-growl.min.js"></script>
	<!-- /theme JS files -->

		<% include head %> 
        <%
                function isEmpty(obj) {

                    if (obj == null) return true;
                    if (obj.length > 0)    return false;
                    if (obj.length === 0)  return true;
                    if (typeof obj !== "object") return true;
                    for (var key in obj) {
                        if (hasOwnProperty.call(obj, key)) return false;
                    }
                    return true;
                }
                   
        %>

    <%
    	var is_setting_active = '';
    	var is_profile_active = 'active';
    	var tab_setting='';
    	var tab_profile='in active';
    	if(current_url==1){
    		is_setting_active = 'active';
    		is_profile_active = '';
    		tab_setting='in active'
    		tab_profile='';
    	}
    %>
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Toolbar -->
				<div class="navbar navbar-default navbar-component navbar-xs">
					<ul class="nav navbar-nav visible-xs-block">
						<li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
					</ul>

					<div class="navbar-collapse collapse" id="navbar-filter">
						<ul class="nav navbar-nav">
							<li class="<%=is_profile_active%>"><a href="#profile" data-toggle="tab"><i class="icon-menu7 position-left"></i> Profile</a></li>
							<li class="<%=is_setting_active%>"><a href="#settings" data-toggle="tab"><i class="icon-cog3 position-left"></i> Settings</a></li>
							<li style="display:none;"><a href="#KYC" data-toggle="tab"><i class="icon-cog3 position-left"></i> KYC</a></li>
<!-- 							<li><a href="#wallet" data-toggle="tab"><i class="icon-calendar3 position-left"></i> Wallet <span class="badge badge-success badge-inline position-right">32</span></a></li>
 -->
						</ul>
					</div>
				</div>
				<!-- /toolbar -->
				<div class="row">
					<div class="col-lg-12">
					<% if ( messages.info) { %>
								<div class="alert alert-primary no-border">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
									<span class="text-semibold"><%= messages.info %>
							    </div>
						<% } %>

						<% if ( messages.error) { %>
								<div class="alert alert-danger no-border">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
									<span class="text-semibold"><%= messages.error %>
							    </div>

						<% } %>

						<% if ( messages.success) { %>
								<div class="alert alert-success no-border">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
									<span class="text-semibold"><%= messages.success %>
							    </div>

						<% } %>
						</div>
				</div>	
				<!-- User profile -->
				<div class="row">
					<div class="col-lg-12">
						<div class="tabbable">
							<div class="tab-content">
								<div class="tab-pane fade <%=tab_profile%>" id="profile">
									<!-- Profile info -->
									<form action="/profile"   method="POST">
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">Profile information</h6>
										</div>

										<div class="panel-body">
											<p>&nbsp;</p>
											<div class="form-group">
													<div class="row">
														<div class="col-md-4">
														<label>Email</label>
												<input type="text" name="email" value="<%=user.email%>" readonly="readonly" required class="form-control">
														</div>
														<div class="col-md-4">
															<label>First Name</label>
															<input type="text" name="firstname" value="<%=user.firstname%>" class="form-control" required>
														</div>
														<div class="col-md-4">
															<label>Last Name</label>
															<input type="text" name="lastname" value="<%=user.lastname%>" class="form-control" required>
														</div>
													</div>
												</div>


												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<label>Address line 1</label>
															<input type="text" name="address1" value="<%=user.address1%>" class="form-control" required>
														</div>
														<div class="col-md-6">
															<label>Address line 2</label>
															<input type="text" name="address2" value="<%=user.address2%>" class="form-control">
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-md-4">
															<label>City</label>
															<input type="text" name="city" value="<%=user.city%>" class="form-control" required>
														</div>
														<div class="col-md-4">
															<label>State/Province</label>
															<input type="text" name="state" value="<%=user.state%>" class="form-control" required>
														</div>
														<div class="col-md-4">
															<label>ZIP code</label>
															<input type="text" name="zip" value="<%=user.zip%>" class="form-control" required>
														</div>
													</div>
												</div>

												<div class="form-group">
													<div class="row">
														<div class="col-md-6">
															<label>Phone</label>
															<input type="text" name="phone" value="<%=user.phone%>" class="form-control" >
														</div>
														<div class="col-md-6">
								                            <label>Your country</label>

						 									<select name="country" class="form-control select-field" required>
																<option value="<%=user.country%>" title="<%=user.country%>" selected="selected"><%=user.country%></option>
																<option value="Afghanistan" title="Afghanistan">Afghanistan</option>
																<option value="Åland Islands" title="Åland Islands">Åland Islands</option>
																<option value="Albania" title="Albania">Albania</option>
																<option value="Algeria" title="Algeria">Algeria</option>
																<option value="American Samoa" title="American Samoa">American Samoa</option>
																<option value="Andorra" title="Andorra">Andorra</option>
																<option value="Angola" title="Angola">Angola</option>
																<option value="Anguilla" title="Anguilla">Anguilla</option>
																<option value="Antarctica" title="Antarctica">Antarctica</option>
																<option value="Antigua and Barbuda" title="Antigua and Barbuda">Antigua and Barbuda</option>
																<option value="Argentina" title="Argentina">Argentina</option>
																<option value="Armenia" title="Armenia">Armenia</option>
																<option value="Aruba" title="Aruba">Aruba</option>
																<option value="Australia" title="Australia">Australia</option>
																<option value="Austria" title="Austria">Austria</option>
																<option value="Azerbaijan" title="Azerbaijan">Azerbaijan</option>
																<option value="Bahamas" title="Bahamas">Bahamas</option>
																<option value="Bahrain" title="Bahrain">Bahrain</option>
																<option value="Bangladesh" title="Bangladesh">Bangladesh</option>
																<option value="Barbados" title="Barbados">Barbados</option>
																<option value="Belarus" title="Belarus">Belarus</option>
																<option value="Belgium" title="Belgium">Belgium</option>
																<option value="Belize" title="Belize">Belize</option>
																<option value="Benin" title="Benin">Benin</option>
																<option value="Bermuda" title="Bermuda">Bermuda</option>
																<option value="Bhutan" title="Bhutan">Bhutan</option>
																<option value="Bolivia, Plurinational State of" title="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
																<option value="Bonaire, Sint Eustatius and Saba" title="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
																<option value="Bosnia and Herzegovina" title="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
																<option value="Botswana" title="Botswana">Botswana</option>
																<option value="Bouvet Island" title="Bouvet Island">Bouvet Island</option>
																<option value="Brazil" title="Brazil">Brazil</option>
																<option value="British Indian Ocean Territory" title="British Indian Ocean Territory">British Indian Ocean Territory</option>
																<option value="Brunei Darussalam" title="Brunei Darussalam">Brunei Darussalam</option>
																<option value="Bulgaria" title="Bulgaria">Bulgaria</option>
																<option value="Burkina Faso" title="Burkina Faso">Burkina Faso</option>
																<option value="Burundi" title="Burundi">Burundi</option>
																<option value="Cambodia" title="Cambodia">Cambodia</option>
																<option value="Cameroon" title="Cameroon">Cameroon</option>
																<option value="Canada" title="Canada">Canada</option>
																<option value="Cape Verde" title="Cape Verde">Cape Verde</option>
																<option value="Cayman Islands" title="Cayman Islands">Cayman Islands</option>
																<option value="Central African Republic" title="Central African Republic">Central African Republic</option>
																<option value="Chad" title="Chad">Chad</option>
																<option value="Chile" title="Chile">Chile</option>
																<option value="China" title="China">China</option>
																<option value="Christmas Island" title="Christmas Island">Christmas Island</option>
																<option value="Cocos (Keeling) Islands" title="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
																<option value="Colombia" title="Colombia">Colombia</option>
																<option value="Comoros" title="Comoros">Comoros</option>
																<option value="Congo" title="Congo">Congo</option>
																<option value="Congo, the Democratic Republic of the" title="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
																<option value="Cook Islands" title="Cook Islands">Cook Islands</option>
																<option value="Costa Rica" title="Costa Rica">Costa Rica</option>
																<option value="Côte d'Ivoire" title="Côte d'Ivoire">Côte d'Ivoire</option>
																<option value="Croatia" title="Croatia">Croatia</option>
																<option value="Cuba" title="Cuba">Cuba</option>
																<option value="Curaçao" title="Curaçao">Curaçao</option>
																<option value="Cyprus" title="Cyprus">Cyprus</option>
																<option value="Czech Republic" title="Czech Republic">Czech Republic</option>
																<option value="Denmark" title="Denmark">Denmark</option>
																<option value="Djibouti" title="Djibouti">Djibouti</option>
																<option value="Dominica" title="Dominica">Dominica</option>
																<option value="Dominican Republic" title="Dominican Republic">Dominican Republic</option>
																<option value="Ecuador" title="Ecuador">Ecuador</option>
																<option value="Egypt" title="Egypt">Egypt</option>
																<option value="El Salvador" title="El Salvador">El Salvador</option>
																<option value="Equatorial Guinea" title="Equatorial Guinea">Equatorial Guinea</option>
																<option value="Eritrea" title="Eritrea">Eritrea</option>
																<option value="Estonia" title="Estonia">Estonia</option>
																<option value="Ethiopia" title="Ethiopia">Ethiopia</option>
																<option value="Falkland Islands (Malvinas)" title="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
																<option value="Faroe Islands" title="Faroe Islands">Faroe Islands</option>
																<option value="Fiji" title="Fiji">Fiji</option>
																<option value="Finland" title="Finland">Finland</option>
																<option value="France" title="France">France</option>
																<option value="French Guiana" title="French Guiana">French Guiana</option>
																<option value="French Polynesia" title="French Polynesia">French Polynesia</option>
																<option value="French Southern Territories" title="French Southern Territories">French Southern Territories</option>
																<option value="Gabon" title="Gabon">Gabon</option>
																<option value="Gambia" title="Gambia">Gambia</option>
																<option value="Georgia" title="Georgia">Georgia</option>
																<option value="Germany" title="Germany">Germany</option>
																<option value="Ghana" title="Ghana">Ghana</option>
																<option value="Gibraltar" title="Gibraltar">Gibraltar</option>
																<option value="Greece" title="Greece">Greece</option>
																<option value="Greenland" title="Greenland">Greenland</option>
																<option value="Grenada" title="Grenada">Grenada</option>
																<option value="Guadeloupe" title="Guadeloupe">Guadeloupe</option>
																<option value="Guam" title="Guam">Guam</option>
																<option value="Guatemala" title="Guatemala">Guatemala</option>
																<option value="Guernsey" title="Guernsey">Guernsey</option>
																<option value="Guinea" title="Guinea">Guinea</option>
																<option value="Guinea-Bissau" title="Guinea-Bissau">Guinea-Bissau</option>
																<option value="Guyana" title="Guyana">Guyana</option>
																<option value="Haiti" title="Haiti">Haiti</option>
																<option value="Heard Island and McDonald Islands" title="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
																<option value="Holy See (Vatican City State)" title="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
																<option value="Honduras" title="Honduras">Honduras</option>
																<option value="Hong Kong" title="Hong Kong">Hong Kong</option>
																<option value="Hungary" title="Hungary">Hungary</option>
																<option value="Iceland" title="Iceland">Iceland</option>
																<option value="India" title="India">India</option>
																<option value="Indonesia" title="Indonesia">Indonesia</option>
																<option value="Iran, Islamic Republic of" title="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
																<option value="Iraq" title="Iraq">Iraq</option>
																<option value="Ireland" title="Ireland">Ireland</option>
																<option value="Isle of Man" title="Isle of Man">Isle of Man</option>
																<option value="Israel" title="Israel">Israel</option>
																<option value="Italy" title="Italy">Italy</option>
																<option value="Jamaica" title="Jamaica">Jamaica</option>
																<option value="Japan" title="Japan">Japan</option>
																<option value="Jersey" title="Jersey">Jersey</option>
																<option value="Jordan" title="Jordan">Jordan</option>
																<option value="Kazakhstan" title="Kazakhstan">Kazakhstan</option>
																<option value="Kenya" title="Kenya">Kenya</option>
																<option value="Kiribati" title="Kiribati">Kiribati</option>
																<option value="Korea, Democratic People's Republic of" title="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
																<option value="Korea, Republic of" title="Korea, Republic of">Korea, Republic of</option>
																<option value="Kuwait" title="Kuwait">Kuwait</option>
																<option value="Kyrgyzstan" title="Kyrgyzstan">Kyrgyzstan</option>
																<option value="Lao People's Democratic Republic" title="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
																<option value="Latvia" title="Latvia">Latvia</option>
																<option value="Lebanon" title="Lebanon">Lebanon</option>
																<option value="Lesotho" title="Lesotho">Lesotho</option>
																<option value="Liberia" title="Liberia">Liberia</option>
																<option value="Libya" title="Libya">Libya</option>
																<option value="Liechtenstein" title="Liechtenstein">Liechtenstein</option>
																<option value="Lithuania" title="Lithuania">Lithuania</option>
																<option value="Luxembourg" title="Luxembourg">Luxembourg</option>
																<option value="Macao" title="Macao">Macao</option>
																<option value="Macedonia, the former Yugoslav Republic of" title="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
																<option value="Madagascar" title="Madagascar">Madagascar</option>
																<option value="Malawi" title="Malawi">Malawi</option>
																<option value="Malaysia" title="Malaysia">Malaysia</option>
																<option value="Maldives" title="Maldives">Maldives</option>
																<option value="Mali" title="Mali">Mali</option>
																<option value="Malta" title="Malta">Malta</option>
																<option value="Marshall Islands" title="Marshall Islands">Marshall Islands</option>
																<option value="Martinique" title="Martinique">Martinique</option>
																<option value="Mauritania" title="Mauritania">Mauritania</option>
																<option value="Mauritius" title="Mauritius">Mauritius</option>
																<option value="Mayotte" title="Mayotte">Mayotte</option>
																<option value="Mexico" title="Mexico">Mexico</option>
																<option value="Micronesia, Federated States of" title="Micronesia, Federated States of">Micronesia, Federated States of</option>
																<option value="Moldova, Republic of" title="Moldova, Republic of">Moldova, Republic of</option>
																<option value="Monaco" title="Monaco">Monaco</option>
																<option value="Mongolia" title="Mongolia">Mongolia</option>
																<option value="Montenegro" title="Montenegro">Montenegro</option>
																<option value="Montserrat" title="Montserrat">Montserrat</option>
																<option value="Morocco" title="Morocco">Morocco</option>
																<option value="Mozambique" title="Mozambique">Mozambique</option>
																<option value="Myanmar" title="Myanmar">Myanmar</option>
																<option value="Namibia" title="Namibia">Namibia</option>
																<option value="Nauru" title="Nauru">Nauru</option>
																<option value="Nepal" title="Nepal">Nepal</option>
																<option value="Netherlands" title="Netherlands">Netherlands</option>
																<option value="New Caledonia" title="New Caledonia">New Caledonia</option>
																<option value="New Zealand" title="New Zealand">New Zealand</option>
																<option value="Nicaragua" title="Nicaragua">Nicaragua</option>
																<option value="Niger" title="Niger">Niger</option>
																<option value="Nigeria" title="Nigeria">Nigeria</option>
																<option value="Niue" title="Niue">Niue</option>
																<option value="Norfolk Island" title="Norfolk Island">Norfolk Island</option>
																<option value="Northern Mariana Islands" title="Northern Mariana Islands">Northern Mariana Islands</option>
																<option value="Norway" title="Norway">Norway</option>
																<option value="Oman" title="Oman">Oman</option>
																<option value="Pakistan" title="Pakistan">Pakistan</option>
																<option value="Palau" title="Palau">Palau</option>
																<option value="Palestinian Territory, Occupied" title="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
																<option value="Panama" title="Panama">Panama</option>
																<option value="Papua New Guinea" title="Papua New Guinea">Papua New Guinea</option>
																<option value="Paraguay" title="Paraguay">Paraguay</option>
																<option value="Peru" title="Peru">Peru</option>
																<option value="Philippines" title="Philippines">Philippines</option>
																<option value="Pitcairn" title="Pitcairn">Pitcairn</option>
																<option value="Poland" title="Poland">Poland</option>
																<option value="Portugal" title="Portugal">Portugal</option>
																<option value="Puerto Rico" title="Puerto Rico">Puerto Rico</option>
																<option value="Qatar" title="Qatar">Qatar</option>
																<option value="Réunion" title="Réunion">Réunion</option>
																<option value="Romania" title="Romania">Romania</option>
																<option value="Russian Federation" title="Russian Federation">Russian Federation</option>
																<option value="Rwanda" title="Rwanda">Rwanda</option>
																<option value="Saint Barthélemy" title="Saint Barthélemy">Saint Barthélemy</option>
																<option value="Saint Helena, Ascension and Tristan da Cunha" title="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
																<option value="Saint Kitts and Nevis" title="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
																<option value="Saint Lucia" title="Saint Lucia">Saint Lucia</option>
																<option value="Saint Martin (French part)" title="Saint Martin (French part)">Saint Martin (French part)</option>
																<option value="Saint Pierre and Miquelon" title="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
																<option value="Saint Vincent and the Grenadines" title="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
																<option value="Samoa" title="Samoa">Samoa</option>
																<option value="San Marino" title="San Marino">San Marino</option>
																<option value="Sao Tome and Principe" title="Sao Tome and Principe">Sao Tome and Principe</option>
																<option value="Saudi Arabia" title="Saudi Arabia">Saudi Arabia</option>
																<option value="Senegal" title="Senegal">Senegal</option>
																<option value="Serbia" title="Serbia">Serbia</option>
																<option value="Seychelles" title="Seychelles">Seychelles</option>
																<option value="Sierra Leone" title="Sierra Leone">Sierra Leone</option>
																<option value="Singapore" title="Singapore">Singapore</option>
																<option value="Sint Maarten (Dutch part)" title="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
																<option value="Slovakia" title="Slovakia">Slovakia</option>
																<option value="Slovenia" title="Slovenia">Slovenia</option>
																<option value="Solomon Islands" title="Solomon Islands">Solomon Islands</option>
																<option value="Somalia" title="Somalia">Somalia</option>
																<option value="South Africa" title="South Africa">South Africa</option>
																<option value="South Georgia and the South Sandwich Islands" title="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
																<option value="South Sudan" title="South Sudan">South Sudan</option>
																<option value="Spain" title="Spain">Spain</option>
																<option value="Sri Lanka" title="Sri Lanka">Sri Lanka</option>
																<option value="Sudan" title="Sudan">Sudan</option>
																<option value="Suriname" title="Suriname">Suriname</option>
																<option value="Svalbard and Jan Mayen" title="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
																<option value="Swaziland" title="Swaziland">Swaziland</option>
																<option value="Sweden" title="Sweden">Sweden</option>
																<option value="Switzerland" title="Switzerland">Switzerland</option>
																<option value="Syrian Arab Republic" title="Syrian Arab Republic">Syrian Arab Republic</option>
																<option value="Taiwan, Province of China" title="Taiwan, Province of China">Taiwan, Province of China</option>
																<option value="Tajikistan" title="Tajikistan">Tajikistan</option>
																<option value="Tanzania, United Republic of" title="Tanzania, United Republic of">Tanzania, United Republic of</option>
																<option value="Thailand" title="Thailand">Thailand</option>
																<option value="Timor-Leste" title="Timor-Leste">Timor-Leste</option>
																<option value="Togo" title="Togo">Togo</option>
																<option value="Tokelau" title="Tokelau">Tokelau</option>
																<option value="Tonga" title="Tonga">Tonga</option>
																<option value="Trinidad and Tobago" title="Trinidad and Tobago">Trinidad and Tobago</option>
																<option value="Tunisia" title="Tunisia">Tunisia</option>
																<option value="Turkey" title="Turkey">Turkey</option>
																<option value="Turkmenistan" title="Turkmenistan">Turkmenistan</option>
																<option value="Turks and Caicos Islands" title="Turks and Caicos Islands">Turks and Caicos Islands</option>
																<option value="Tuvalu" title="Tuvalu">Tuvalu</option>
																<option value="Uganda" title="Uganda">Uganda</option>
																<option value="Ukraine" title="Ukraine">Ukraine</option>
																<option value="United Arab Emirates" title="United Arab Emirates">United Arab Emirates</option>
																<option value="United Kingdom" title="United Kingdom">United Kingdom</option>
																<option value="United States" title="United States">United States</option>
																<option value="United States Minor Outlying Islands" title="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
																<option value="Uruguay" title="Uruguay">Uruguay</option>
																<option value="Uzbekistan" title="Uzbekistan">Uzbekistan</option>
																<option value="Vanuatu" title="Vanuatu">Vanuatu</option>
																<option value="Venezuela, Bolivarian Republic of" title="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
																<option value="Viet Nam" title="Viet Nam">Viet Nam</option>
																<option value="Virgin Islands, British" title="Virgin Islands, British">Virgin Islands, British</option>
																<option value="Virgin Islands, U.S." title="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
																<option value="Wallis and Futuna" title="Wallis and Futuna">Wallis and Futuna</option>
																<option value="Western Sahara" title="Western Sahara">Western Sahara</option>
																<option value="Yemen" title="Yemen">Yemen</option>
																<option value="Zambia" title="Zambia">Zambia</option>
																<option value="Zimbabwe" title="Zimbabwe">Zimbabwe</option>
															</select>
														</div>
													</div>
												</div>

<!-- 						                        <div class="form-group">
						                        	<div class="row">


														<div class="col-md-6">
															<label class="display-block">Upload profile image</label>
						                                    <input type="file" class="file-styled">
						                                    <span class="help-block">Accepted formats: gif, png, jpg. Max file size 2Mb</span>
														</div>
						                        	</div>
						                        </div> -->

						                        <div class="text-right">
						                        	<button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
						                        </div>
											
										</div>
									</div>
									<!-- /profile info -->
									</form>
                                    
                                    <!-- /KYC info -->
                                    <form action="/profileUploadDocs" id="msform" enctype="multipart/form-data" method="POST">
									<!-- KYC settings -->
									<div class="panel panel-flat">
										<div class="panel-heading">
											<h6 class="panel-title">KYC</h6>
										</div>

										<div class="panel-body">
											<p>&nbsp;</p>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
													<label>Document Type </label>
													<select name="doc_type1" id="doc_type1" class="form-control select-field">
													<option value="<%=user.doc_type1%>" title="<%=user.doc_type1%>" selected="selected"><%=user.doc_type1%></option>
                                           
                                            <option value="Driving Licence" title="Driving Licence">Driving Licence</option> 
                                            <option value="Government ID">Government ID</option> 
                                            <option value="Passport" title="Passport">Passport</option> 
                                            <option value="Tax ID" title="Tax ID">Tax ID</option> 
                                        </select>
                                        </div>
										<div class="col-md-6">
											<label>Document Type </label>
											<select name="doc_type2" id="doc_type2" class="form-control select-field">
													<option value="<%=user.doc_type2%>" title="<%=user.doc_type2%>" selected="selected"><%=user.doc_type2%></option>

                                            <option value="Driving Licence" title="Driving Licence">Driving Licence</option> 
                                            <option value="Government ID" title="Government ID">Government ID</option> 
                                           
                                            <option value="Passport" title="Passport">Passport</option> 
                                            <option value="Tax ID" title="Tax ID">Tax ID</option> 
                                        </select>
										</div> 													
									</div>
								</div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Document Number</label>									
                                                    <input type="text" id="docnumber1" name="docnumber1" value="<%=user.docnumber1%>" class="form-control" >
                                                </div>
                                            <div class="col-md-6">
                                            <label>Document Number</label>
                                                <input type="text" class="form-control" id="docnumber2" value="<%=user.docnumber2%>" name="docnumber2">
                                            </div> 													
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <%
                                            var url='/docs/'+user.file1;
                                            %>
                                            <% if ( !isEmpty(user.file1)) { %> 	
                                                <label>Document</label>	
                                                <p><a onclick="popupCenter('<%=url%>', 'myPop1',850,500);" href="javascript:void(0);"><%=user.file1%> </a></p>
                                            <% } %>
                                            <br></br>
                                                <label>Upload Document</label>
                                                <input type="file" placeholder="Select File" class="file-styled" value="<%=user.file1%>" name="file1" id="file1" >
                                            </div>
                                             <div class="col-md-6">

                                            <%
                                            var url2='/docs/'+user.file2;
                                            %>
                                                <% if ( !isEmpty(user.file2)) { %>
                                                <label>Document</label>
                                                <p><a onclick="popupCenter2('<%=url2%>','myPop1',850,500);" href="javascript:void(0);"><%=user.file2%> </a></p>
                                            <% } %>
                                            <br></br>
                                                <label>Upload Document</label>
                                                <input type="file" placeholder="Select File" class="file-styled" value="<%=user.file2%>" name="file2" id="file2" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <input type="submit" onclick="clickStripe1();" class="btn btn-primary" value="Submit" />
                                       </div>
                                </div>
							</div>
							</form>
                                <!-- /END KYC info -->
								</div>
								<div class="tab-pane fade <%=tab_setting%>" id="settings">
									<form id="form_change_password" name="form_change_password" method="POST">
									<!-- Account settings -->
									<div class="panel panel-flat">
										<div class="panel-heading">
										<h6 class="panel-title">Account settings</h6>
										</div>

										<div class="panel-body">
											<p>&nbsp;</p>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label>Email</label>
														<input type="text" name="email" id="email" value="<%=user.email%>" readonly="readonly" class="form-control">
													</div>

													<div class="col-md-6">
														<label>Current password</label>
														<input type="password" placeholder="current password" name="current_password" id="current_password" class="form-control" required>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label>New password</label>
														<input type="password" placeholder="Enter new password" class="form-control" id="new_password" name="new_password" required>
													</div>
													<div class="col-md-6">
														<label>Repeat password</label>
														<input type="password" name="confirm_password" placeholder="Repeat new password" id="confirm_password" class="form-control" required>
													</div>
												</div>
											</div>
					                        <div class="text-right">
					                        	<button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
					                        </div>
										</div>
									</div>
								</form>
									<!-- /account settings -->							
								</div>

								<!--KYC -->
								<div class="tab-pane fade" id="KYC" style="display:none;">
								
									<!-- /KYC settings -->
								</div>
							</div>
						</div>
					</div>


					<div class="col-lg-3">

						<!-- User thumbnail -->
						<!-- <div class="thumbnail">
							<div class="thumb thumb-rounded thumb-slide">
								<img src="assets/images/users.png" alt="">
							</div>
						
					    	<div class="caption text-center">
					    		<h6 class="text-semibold no-margin">Users Management<small class="display-block"> . </small></h6>
					    	</div>
				    	</div> -->
				    	<!-- /user thumbnail -->

								<!-- 	<% if ( messages.info) { %>
													<div class="alert alert-primary no-border">
														<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
														<span class="text-semibold"><%= messages.info %>
												    </div>
											<% } %>

											<% if ( messages.error) { %>
													<div class="alert alert-danger no-border">
														<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
														<span class="text-semibold"><%= messages.error %>
												    </div>

											<% } %>

											<% if ( messages.success) { %>
													<div class="alert alert-success no-border">
														<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
														<span class="text-semibold"><%= messages.success %>
												    </div>

											<% } %> -->

					</div>


				</div>
				<!-- /user profile -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

	<!-- Footer -->
			<% include footer %>
	<!-- /footer -->

<!-- <script src="./js/site/stop.js"></script>
<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script> -->
<script>
//$(document).foundation();
</script>
<script type="text/javascript">

	
	 function clickStripe1()
            {
        
             var msform = document.getElementById('msform');
             var doc_type1 = document.getElementById("doc_type1").value;
             var doc_type2 = document.getElementById("doc_type2").value;  
             	        
             var docnumber1 = document.getElementById("docnumber1").value;
             var docnumber2 = document.getElementById("docnumber2").value;
  			 var file1 = document.getElementById("file1").value;
  			 var file2 = document.getElementById("file2").value;
  			
             if (doc_type1 === doc_type2) 
             {
                alert("Please Select Different doc_type ..");
                form.doc_type.focus();
                return false;
             }

             if (docnumber1 == "") 
             {
                alert("docnumber  can't be blank..");
                form.docnumber.focus();
                return false;
             }
             if (docnumber2 == "") 
             {
                alert("docnumber  can't be blank..");
                form.docnumber.focus();
                return false;
             }
             document.msform.submit();
         
          }   

          function popupCenter(url, title, w, h) {
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
			} 
			 function popupCenter2(url, title, w, h) {
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
			}       
</script>

<script type="text/javascript">
	$(document).ready(function(){
	  $("#form_change_password").submit(function(event) {
        event.preventDefault();
        var ajax_url 		= '';
		ajax_url 			= '/change-password';
        var form_id    		= '#form_change_password';

		var confirm_password = $.trim($(form_id+" #confirm_password").val());
		var new_password 	 = $.trim($(form_id+" #new_password").val());
		var current_password = $.trim($(form_id+" #current_password").val());

		var email 	= $.trim($(form_id+" #email").val());
		
		if(email==''){
			$.bootstrapGrowl('Email can not blank', {type: 'danger', delay:1000,width:450});
			return false;
		}
		if(current_password==''){
			$.bootstrapGrowl('Current Password is require', {type: 'danger', delay:1000,width:450});
			return false;
		}
		if(new_password==''){
			$.bootstrapGrowl('Password is require', {type: 'danger', delay:1000,width:450});
			return false;
		}
		if(new_password.length<6){
			$.bootstrapGrowl('Password require minimun 6 characters', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		if(confirm_password==''){
			$.bootstrapGrowl('Confirm Password is require', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		if(new_password!=confirm_password){
			$.bootstrapGrowl('Password and Confirm Password does not match', {type: 'danger', delay: 1000,width:450});
			return false;
		}
		
		 // You need to use standard javascript object here
    	var formData = {
    		current_password:current_password,
    		password:new_password,
    		email:email
    	};

		$.ajax({
			url: ajax_url,
			type: "POST",
    		dataType: 'json',
    		data: formData,
			cache : false,
			success: function (result) {
				if(result.status=='OK'){
					$.bootstrapGrowl(result.msg, {type: 'success', delay:1500,width:500});
					setTimeout(function() { window.location.href='/logout'; },2000);
				}else{
					$.bootstrapGrowl(result.msg, {type: 'danger', delay:1000,width:350});
				}
			},
			error: function (err) {
			 console.log(err);
			 $.bootstrapGrowl('Invalid request', {type: 'danger', delay:1000,width:350});
			}
		});
    });
});
</script>

</body>
</html>


